<% include ../partials/header %>

<style>
  form {max-width:100%; padding:0; box-shadow:none; background-color: transparent}
form input {display:inline-block; width: auto;}
.checklistForm input[type="radio"], .checklistForm input[type="radio"] {margin: 0 8px 0 0}
.form-group{margin:0}
#startEssWrap {margin: 30px 0 0}
#startEssWrap input {color: #fff !important;}

.checklistContainer {max-width:80%; margin: 0 auto; }  
.checklistForm {margin: 30px 0}
.checklistForm span {width: auto; padding:20px;align-self:stretch; display:flex; align-items:center; color:#fff;  border-left:1px solid #fff}
.checklistForm .form-group span:last-of-type {border-right: 1px solid #fff}

.checklistForm .form-group {width: 100%;margin:0; display: flex; flex-wrap:wrap; align-items: center;justify-content: space-between; border-bottom: 1px solid #fff}
.checklistForm .form-group:first-of-type label {border-top:1px solid #fff}
.checklistForm textarea {width:100%; height:50px; padding:5px}
.checklistForm #submit {margin: 20px 0 0}

.taskName {flex: 3; text-align:left; background:#2392A4; align-self:center; font-weight:700}
.taskComplete {flex: 1; background:#2479A7;}
.taskNA {flex: 1; background: #2566AA}
.taskNotes {flex:2; background:#2550AD;}
input.checkName {width: 100%; background: none; border: none; color: #fff; font-weight: 700; margin:0; padding: 0}

#checklistEssential {margin:20px 0 0}

#checklistHeaderInfo {display:flex; justify-content: space-between; flex-wrap:wrap; flex-direction:row; margin: 0 auto; border: none !important}
#checklistHeaderInfo label {border:none; flex:1; margin: 0 10px; text-align:left}
#checklistHeaderInfo .domain {flex: 2}
#checklistHeaderInfo input, #checklistHeaderInfo select {width: 100%; height:2.5em; margin: 10px 0 0; padding: 0 15px;}
#checklistHeaderInfo select {padding: 0 10px}

@media screen and (max-width:768px) {
    .checklistForm .form-group {flex-direction: column; border-bottom:none}
    .checklistForm .form-group {border:1px solid #fff; margin: 0 0 15px}
    .checklistForm span.taskName {border-bottom: 1px solid #fff}
    .checklistForm span, .checklistForm .form-group:first-of-type, .checklistForm .form-group span:last-of-type  {border:none}
}

</style>
<div id="overview" class="center">
  <h1>
    <%= currentUser.team %> Checklist</h1>
  <a style="display: inline-block; text-decoration: none;" href="/checklist">
    <h4 id="myBtn">See Your Checklist<i class="fas fa-plus"></i></h4>
  </a>

</div>
<div id="checklist">
  <div class="checklistContainer">
    <h3 class="pageHeader">
      <%= currentUser.firstName %>, this is the checklist for the
      <%= currentUser.team %> team. This will make completing a checklist a breeze!</h1>


      <form class="checklistForm" action="/checklist/<%= checklist._id %>?_method=PUT" method="POST">
        <div class="form-group" id="checklistHeaderInfo">
          <label name="buildPkg">Build Package:
            <select name="checklist[buildPkg]" id="buildPkg">
              <% if(checklist.buildPkg === "Essential") { %>
              <option value="<%= checklist.buildPkg %>" selected>
                <%= checklist.buildPkg %>
              </option>
              <option value="Starter">Starter</option>
              <% } %>
              <% if(checklist.buildPkg === "Starter") { %>
              <option value="<%= checklist.buildPkg %>" selected>
                <%= checklist.buildPkg %>
              <option value="Essential">Essential</option>
              <% } %>
            </select>
          </label>

          <label name="username" class="teamMember">Developer:
            <input type="text" name="checklist[author.firstName]" value="<%= checklist.author.firstName %>" />
          </label>
          <label name="domain" class="domain">Domain:
            <input type="text" name="checklist[domain]" value="<%= checklist.domain %>">
          </label>
        </div> <!-- end of form-group -->
        <div id="startEssWrap">
          <div id="checklistStarter">
            <% for (i=0; i < checklist.checklistTask.length; i++) { %>
            <div class="form-group">

              <span class="taskName"><input class="checkName" value="<%= checklist.checklistTask[i].taskName %>" type="text" /></span>
              <% if(checklist.checklistTask[i].taskStatus === "Complete") { %>
              <span class="taskComplete"><input class="checkStatus" type="radio" checked="checked" value="Completed"
                  name="<%= checklist.checklistTask[i]._id %>">Complete</span>
              <span class="taskNA"><input class="checkStatus" type="radio" value="N/A" name="<%= checklist.checklistTask[i]._id %>">
                N/A</span>
              <% } %>
              <% if(checklist.checklistTask[i].taskStatus === "N/A") { %>
              <span class="taskComplete"><input class="checkStatus" type="radio" value="Completed" name="<%= checklist.checklistTask[i]._id %>">Complete</span>
              <span class="taskNA"><input class="checkStatus" type="radio" checked="checked" value="N/A" name="<%= checklist.checklistTask[i]._id %>">
                N/A</span>
              <% } %>
              <span class="taskNotes"><textarea class="checkNotes" value="<%= checklist.checklistTask[i].additionalNotes %>"><%= checklist.checklistTask[i].additionalNotes %></textarea></span>

            </div> <!-- end of form-group-->
            <% } %>
          </div>
          <button id="submit" class="myBtn">Update Checklist</button>
        </div> <!-- end startEssWrap -->

      </form> <!-- end of form -->
  </div>
</div>
<script>
  $("form.checklistForm").submit(function () {
    var count = 0;
    $("#startEssWrap div.form-group").each(function () {
      $(this).children().find(".checkName").attr("name", "checklist[checklistTask][" + count + "][taskName]");
      $(this).children().find(".checkStatus").attr("name", "checklist[checklistTask][" + count + "][taskStatus]");
      $(this).children().find(".checkNotes").attr("name", "checklist[checklistTask][" + count + "][additionalNotes]");
      count++;
    });
  });
</script>


<% include ../partials/footer %>