<% include partials/header %>

<h1 class="pageHeader">Hey <%= currentUser.firstName %>! Welcome to your <%= currentUser.team %> Dashboard.</h1>
<div id="dashboard">
    <div id="stats">
        <h3>View your stats from this month below:</h3><br />
        <div class="statsContainer">
            <% if(!currentUser){ %>
                <p><% tracking.forEach(function(tracked){ %>
                        <div classs="col-md-12">
                            <div class="container">
                                <div id="tracked">
                                    <p><strong>Name:</strong> <%= tracked.author.firstName %></p>
                                    <p><strong>Package:</strong> <%= tracked.buildPkg %></p>
                                    <p><strong>Acct #:</strong> <%= tracked.acctNum %></p>
                                    <p><strong>Completed:</strong> <%= tracked.date %></p>
                                    <p><strong>Special Features:</strong> <%= tracked.specialFeatures %></p>
                                    <p><strong>Domain:</strong> <%= tracked.domain %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </p>
        <% } %>
        </div>
    </div>
    <div id="dashboardLinks">
        <h3>Select a tool to use below:</h3><br />
        <div class="dashboardLinksContainer">
            <a href="/tracker"><img src="https://i.imgur.com/QDOoFQe.png" alt="Team Tracker" /><br /><%= currentUser.team %> Tracker</a>
            <a href="/projects-tracker"><img src="https://i.imgur.com/QDOoFQe.png" alt="Special Projects Tracker" /><br />Special Projects Tracker</a>
            <a href="/checklist"><img src="https://i.imgur.com/QDOoFQe.png" alt="Developer Checklist" /><br /><%= currentUser.team %> Checklist</a>
            <a href="/idea-warehouse"><img src="https://i.imgur.com/VOI6pdZ.jpg " alt="Idea Warehouse" /><br />Idea Warehouse</a>
            <a href="/hats-off"><img src="https://i.imgur.com/GFi4LzV.png" alt="Hats Off" /><br />Hats-Off</a>
            <a href="/blueprint-generator"><img src="https://i.imgur.com/03ZeeGp.jpg" alt="Blueprint Generator" /><br />Blueprint Generator</a>
            <a href="/presence-url-tracker"><img src="https://i.imgur.com/QDOoFQe.png" alt="Presence URL Tracker" /><br />Presence URL Tracker</a>
        </div>
    </div>
</div>

<!--<div id="mainSection">
<aside id="left">
    <div class="menu">
        <div class="asideUser">
            <img src="<%= currentUser.profileImageUrl %>" alt="<%= currentUser.firstName %>" />
            <h3><%= currentUser.team %></h3>
        </div>
        <ul>
            <li><a>Tracker</a></li>
            <li><a class="active">Projects</a></li>
            <li><a>Admin</a></li>
            <li><a>Calendar</a></li>
            <li><a>CRM</a></li>
            <li><a>Admin</a></li>
            <li><a>More ♦</a></li>
        </ul>
    </div>
</aside>
<section id="main">
    <nav class="contentNav">
        <a>Ongoing</a>
        <a class="active">Assisting</a>
        <a>Set by Me</a>
        <a>Following</a>
        <a>Favorites</a>
        <a>All</a>
        <a>Availability</a>
        <a>Projects</a>
    </nav>
</section>
</div>-->

<% include partials/footer %>