<% include partials/header %>

<div id="overview" class="center">
    <h1>
        <%= currentUser.team %> Dashboard</h1>
        <div class="flexbox flexCenter">
          <h4>August</h4><i class="fas fa-angle-down"></i>
            </div>
  
  </div>
 
  <div id="dashboard">
     <div class="container">
					<div class="developer flexbox flexLeft">
			<h4>Elizabeth</h4><i class="fas fa-angle-down"></i>
				</div>
					
				<div id="topRow" class="flexbox">
               <div class="col-1">
						<div class="widget">
							
							<h2>Site Builds</h2>
			
						
<div class="tablex tablex--columns" data-columns="2" data-gutter="2">
  <!-- Column 1 -->
  <div class="tablex__item tablex__item--head"><span class="circle">2</span></div>
  <div class="tablex__item center">Essentials</div>
  
  <!-- Column 2 -->
  <div class="tablex__item tablex__item--head"><span class="circle">3</span></div>
  <div class="tablex__item center">Starters</div>
</div>
							</div>
</div>
					
     <div class="col-2">
		 <div class="widget">
<div class="tablex tablex--rows tablex--bordered" data-columns="2" data-gutter="3">
  <!-- Column 1 -->
  <div class="tablex__item tablex__item--head">Prod Changes</div>
  <div class="tablex__item right">21</div>
  
  <!-- Column 2 -->
  <div class="tablex__item tablex__item--head">T.LINK</div>
  <div class="tablex__item right">4</div>
  
  <!-- Column 3 -->
  <div class="tablex__item tablex__item--head">Other</div>
  <div class="tablex__item right">2</div>
</div>
		 </div>
</div>
				
</div><!-- End topRow -->
					
					<div id="bottomRow" class="flexbox">
						<div class="col-full">
							
		 <div class="widget">
			 <h2>Essential Builds</h2>
<div class="tablex tablex--rows tablex--bordered" data-columns="6" data-gutter="3">
  <!-- Column 1 -->
  <div class="tablex__item tablex__item--head"><a href="#">http://nordortho.televox.west.com</a></div>
  <div class="tablex__item right">107026</div>
	<div class="tablex__item right">Jodi</div>
	<div class="tablex__item right">Denise</div>
	<div class="tablex__item right">8/5/2018</div>
	<div class="tablex__item right"><i class="fas fa-angle-down"></i></div>
  
  <!-- Column 2 -->
  <div class="tablex__item tablex__item--head"><a href="#">http://hechler.televox.west.com</a></div>
  <div class="tablex__item right">105940</div>
	<div class="tablex__item right">Yogesh</div>
	<div class="tablex__item right">Rachel</div>
	<div class="tablex__item right">8/1/2018</div>
	<div class="tablex__item right"><i class="fas fa-angle-down"></i></div>
	
	
	

  

</div>
		 </div>
</div>
					</div>
					
					
					
			</div>


    <div id="stats">
      <h3>View your stats from this month below:</h3>
      <br />
      <div class="statsContainer">
        
        <p>
          <% function countEssential() { %>
            <% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; %>
              <% tracking.forEach(function(tracked){ %>
                <% if(currentUser.firstName === tracked.author.firstName) { %>
                <% if(tracked.buildPkg === "Starter" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                    <% strCount++ %>
                    <% } %>
                  <% if(tracked.buildPkg === "Essential" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                      <% essCount++ %>
                    <% } %>
                      
                      <% if(tracked.taskTypes.taskTypeName === "Production Change"){ %>
                        <% prodCount++ %>
                      <% } %>
                    <% if(tracked.taskTypes.taskTypeName === "T.LINK Branding"){ %>
                        <% tlinkCount++ %>
                      <% } %>
                
                  <% } %>
                  <% }); %>
                <h4>Essentials: <%= essCount %> | Starters: <%= strCount %> | Prod Change: <%= prodCount %> | T.LINK Branding: <%= tlinkCount %></h4>
                
            <% } %>
        </p>
        <% countEssential(); %>
        
      </div>
    </div>

  </div>

  <% include partials/footer %>