<% include partials/header %>

  <h1 class="pageHeader">Hey
    <%= currentUser.firstName %>! Welcome to your
      <%= currentUser.team %> Dashboard.</h1>
  <div id="dashboard">
    <div id="dashboardLinks">
      <h3>Select a tool to use below:</h3>
      <br />
      <div class="dashboardLinksContainer">
        <div class="galleryMenu"><a href="/tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Team Tracker" />
          <p><%= currentUser.team %> Tracker</p></a></div>
        <div class="galleryMenu"><a href="/projects-tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Special Projects Tracker" />
          <p>Special Projects Tracker</p></a></div>
        <div class="galleryMenu"><a href="/checklist">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Developer Checklist" />
          <p><%= currentUser.team %> Checklist</p></a></div>
        <div class="galleryMenu"><a href="/idea-warehouse">
          <img src="https://i.imgur.com/VOI6pdZ.jpg " alt="Idea Warehouse" />
          <p>Idea Warehouse</p></a></div>
        <div class="galleryMenu"><a href="/hats-off">
          <img src="https://i.imgur.com/GFi4LzV.png" alt="Hats Off" />
          <p>Hats-Off</p></a></div>
        <div class="galleryMenu"><a href="/blueprint-generator">
          <img src="https://i.imgur.com/03ZeeGp.jpg" alt="Blueprint Generator" />
          <p>Blueprint Generator</p></a></div>
        <div class="galleryMenu"><a href="/presence-url-tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Presence URL Tracker" />
          <p>Presence URL Tracker</p></a></div>
      </div>
    </div>
    <div id="stats">
      <h3>View your stats from this month below:</h3>
      <br />
      <div class="statsContainer">
        
        <p>
          <% function countEssential() { %>
            <% var essCount = 0; var strCount = 0; %>
              <% tracking.forEach(function(tracked){ %>
                <% if(currentUser.firstName === tracked.author.firstName) { %>
                  <% if(tracked.buildPkg === "Starter"){ %>
                    <% strCount++ %>
                      <!-- <div classs="col-md-12">
                        <div class="container">
                          <div id="tracked">
                            <p>
                              <strong>Name:</strong>
                              <%= tracked.author.firstName %>
                            </p>
                            <p>
                              <strong>Package:</strong>
                              <%= tracked.buildPkg %>
                            </p>
                            <p>
                              <strong>Acct #:</strong>
                              <%= tracked.acctNum %>
                            </p>
                            <p>
                              <strong>Completed:</strong>
                              <%= tracked.date %>
                            </p>
                            <p>
                              <strong>Special Features:</strong>
                              <%= tracked.specialFeatures %>
                            </p>
                            <p>
                              <strong>Domain:</strong>
                              <%= tracked.domain %>
                            </p>
                            <p>
                              <a href="/tracker/<%= tracked._id %>/edit">Edit Task</a>
                            </p>
                          </div>
                        </div>
                      </div> -->

                    <% } %>
                    <% if(tracked.buildPkg === "Essential"){ %>
                      <% essCount++ %>
                    <% } %>
                  <% } %>
                <% }); %>
                <h2>Essentials: <%= essCount %> | Starters: <%= strCount %></h2>
                
            <% } %>
        </p>
        <% countEssential(); %>
        
      </div>
    </div>

  </div>

  <% include partials/footer %>