<% include partials/header %>
<div id="overview" class="center">
	<h1>
		<%= currentUser.team %> Dashboard</h1>
	<div class="flexbox flexCenter">
		<!-- <h4 id="thisMonth">August</h4> -->
		<!-- <i class="fas fa-angle-down"></i>  -->
		<div class="selectMonth">
			<dl class="dropdown selectMonth">
				<dt>
<script>
$(document).ready(function(){
	var date = new Date();
	var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
	var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
	$("#startDate").val(firstDay.toISOString().substr(0, 10));
	$("#endDate").val(lastDay.toISOString().substr(0, 10));
	$("#dateFilter input, #allTeamMembers input").on("change", function(){
		getDashboardData();
	});
});

function getDashboardData(){
	var userList = [];
		var startDateInput = $("input#startDate").val();
		var endDateInput = $("input#endDate").val();
		var now = new Date();
		var day = ("0" + now.getDate()).slice(-2);
		var month = ("0" + (now.getMonth() + 1)).slice(-2);
		var today = now.getFullYear()+"-"+(month)+"-"+(day);
		$("#allTeamMembers input").each(function(){
			if (this.checked) {
				userList.push($(this).val());
			}
		});
		$.get("/api", {
			startDate: startDateInput,
			endDate: endDateInput,
			users: userList
		}, function(data, status){
			//$("#dashboard #topRow, #dashboard #bottomRow").empty();
			var essCount, strCount, prodCount, tlinkCount, contentCount, projectCount;
			essCount = strCount = prodCount = tlinkCount = contentCount = projectCount = 0;
			if(data.length){
				console.log(data);
				//create variables
				for (var key in data) {
					var value = data[key];
					// Count Essential
					if(value.buildPkg === "Essential"){
						essCount++
					}
					// Count Starter
					if(value.buildPkg === "Starter"){
						strCount++
					}
					// Count Prod Changes
					if(value.taskTypes.taskTypeName === "Production Change"){
						prodCount++
					}
					// Count T Link
					if(value.taskTypes.taskTypeName === "T.LINK Branding"){
						tlinkCount++
					}
					// Count Content Entry
					if(value.taskTypes.taskTypeName === "Content Entry"){
						contentCount++
					}
					//Count Projects Completed
					if(value.buildPkg === "Essential"){
						projectCount++
					}
			  }
			  //Update Top Row Stats
				$("#topRow .showEssentials").html(essCount);
				$("#topRow .showStarter").html(strCount);
				$("#topRow .showProd .taskNumber").html(prodCount);
				$("#topRow .showTlink .taskNumber").html(tlinkCount);
				$("#topRow .showContent .taskNumber").html(contentCount);
				$("#topRow .showShowProject .taskNumber").html(projectCount);
		} else {
				alert("No results found");
				$("#topRow .showEssentials").html("0");
				$("#topRow .showStarter").html("0");
				$("#topRow .showProd .taskNumber").html("0");
				$("#topRow .showTlink .taskNumber").html("0");
				$("#topRow .showContent .taskNumber").html("0");
				$("#topRow .showShowProject .taskNumber").html("0");
		}					
		});
}
									
</script>

						<form id="dateFilter" action="" method="POST">
								<input type="date" id="startDate" />
								<input type="date" id="endDate" />
						</form>
						
						<i class="fas fa-angle-down"></i>
					
				</dt>
				<dd>
					<ul id="allMonths">
						<li><a>January</a></li>
						<li><a>February</a></li>
						<li><a>March</a></li>
						<li><a>April</a></li>
						<li><a>May</a></li>
						<li><a>June</a></li>
						<li><a>July</a></li>
						<li><a>August</a></li>
						<li><a>September</a></li>
						<li><a>October</a></li>
						<li><a>November</a></li>
						<li><a>December</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>
<% function countEssential() { %>
<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; var projectCount = 0%>
<% tracking.forEach(function(tracked){ %>
<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
<% if(currentUser.email === tracked.author.email) { %>
<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% strCount++ %>
<% } %>
<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% essCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
<% prodCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
<% tlinkCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
<% contentCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<% projects.forEach(function(project){ %>
<%	for(var i = 0; i < project.owners.length; i++){ %>
<% if(currentUser.firstName === project.owners[i].firstName) { %>
<% if(project.status === "Completed"){ %>
<% projectCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<div id="dashboard">
	<div class="container">
		<div class="developer flexbox flexLeft">
			<div class="selectTeamMember">
				<dl class="dropdown">
					<dt>
						<a>
							<h4 class="activeUser" id="active">
								<%= currentUser.firstName %>
							</h4>
							<i class="fas fa-angle-down"></i>
						</a>
					</dt>
					<dd>

<script>
//Dashboard Name Drop down and Select
$(document).ready(function(){
	$("#allTeamMembers > li > a").on("click", function(){
		$("h4.activeUser").text($(this).text());
		if($(this).hasClass("checked")){
			$(this).removeClass("checked");
			$(this).next().find("a").removeClass("checked");
			$(this).next().find("input").prop("checked", false);
		} else {
			$(this).addClass("checked");
			$(this).next().find("a").addClass("checked");
			$(this).next().find("input").prop("checked", true);
		}
		getDashboardData();
	  });
	  $("#allTeamMembers ul a").on("click", function(){
		$("h4.activeUser").text($(this).text());
		if($(this).hasClass("checked")){
			$(this).removeClass("checked");
			$(this).next().prop("checked", false);
		} else {
			$(this).addClass("checked");
			$(this).next().prop("checked", true);
		}
		getDashboardData();
	  });
});
</script>

						<ul id="allTeamMembers">
							<li class="all"><a>All</a></li>
							<% var teamsArray = []; %>
							<% users.forEach(function(user){ %>
								<% if(teamsArray.indexOf(user.team) === -1) { %>
									<% 	teamsArray.push(user.team) %>
								<% } %>
							<% }); %>
							<% teamsArray = (teamsArray).sort() %>
							<% teamsArray.forEach(function(team) { %>
							<li><a href="#"><%= team %></a><ul class="submenu">
								<% users.forEach(function(user){ %>
									<% if(user.team === team){ %>
										<% if (JSON.stringify(currentUser._id) === JSON.stringify(user._id)) { %>
										<li>
											<a href="#" class="checked" onclick="return false;"><%= user.firstName %></a>
											<input type="checkbox" name="users" value="<%= user._id %>" checked>
										</li>
										<% } else { %>
										<li>
											<a href="#" class="" onclick="return false;"><%= user.firstName %></a>
											<input type="checkbox" name="users" value="<%= user._id %>">
										</li>
										<% } %>
									<% } %>
								<% }); %>
							</ul>
							</li>
							<% }); %>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<div id="topRow" class="flexbox">
			<div class="widget leftCol">
				<div class="table graph">
					<h2>Site Builds</h2>
					<div class="wrapper flexbox">
						<div class="column flexbox">
							<div class="cell graph"><span class="circle showEssentials">
									<%= essCount %></span></div>
							<div class="cell build">Essentials</div>
						</div>
						<div class="column flexbox">
							<div class="cell graph"><span class="circle showStarter">
									<%= strCount %></span></div>
							<div class="cell build">Starters</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End leftCol -->

			<div class="widget rightCol tasks">
				<div class="table">
					<div class="row flexbox showProd">
						<div class="cell task">Prod Change</div>
						<div class="cell taskNumber">
							<%= prodCount %>
						</div>
					</div>
					<div class="row flexbox showTlink">
						<div class="cell task">T.LINK</div>
						<div class="cell taskNumber">
							<%= tlinkCount %>
						</div>
					</div>
					<div class="row flexbox showContent">
						<div class="cell task">Content Entry</div>
						<div class="cell taskNumber">
							<%= contentCount %>
						</div>
					</div>
					<div class="row flexbox showProject">
						<div class="cell task">Projects Completed</div>
						<div class="cell taskNumber">
							<%= projectCount %>
						</div>
					</div>
				</div>
			</div>
			<!-- End rightCol -->
		</div>
		<!-- End topRow -->


		<div id="bottomRow" class="flexbox" style="display:none">
			<div class="widget fullCol">
				<div id="dashEssential">
					<h2>Essential Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<%# if(currentUser.email === tracked.author.email) { #%>
							<% if(tracked.buildPkg === "Essential" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>

								</div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Home Screenshot:</strong> <a href="<%= tracked.homeSS %>" target="_blank">
											<%= tracked.homeSS %></a> </p>
									<p><strong>Interior Screenshot:</strong> <a href="<%= tracked.interiorSS %>" target="_blank">
											<%= tracked.interiorSS %></a></p>
									<p><strong>Special Features:</strong>
										<%= tracked.specialFeatures %>
									</p>
									<p><strong>CSS Path:</strong>
										<%= tracked.cssPath %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<%# } #%>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashEssential -->

				<div id="dashStarter">
					<h2>Starter Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<% if(tracked.buildPkg === "Starter" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Starter Template:</strong>
										<%= tracked.starterTemplate %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashProd">
					<h2>Prod Changes</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashTlink">
					<h2>T.LINK Branding</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashContent">
					<h2>Content</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashProject">
					<h2>Special Projects</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Project Name</div>
							<div class="cell actNumber">Owners</div>
							<div class="cell name">Creator</div>
							<div class="cell name">Status</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% projects.forEach(function(project){ %>
							<%	for(var i = 0; i < project.owners.length; i++){ %>
							<% if(currentUser.firstName === project.owners[i].firstName) { %>
							<% if(project.status === "Completed"){ %>
							<div class="row flexbox">
								<div class="cell url">
									<%= project.name %>
								</div>
								<div class="cell actNumber">
									<%	for(var i = 0; i < project.owners.length; i++){ %>
									<span>
										<%= project.owners[i].firstName %></span>
									<% } %>
								</div>
								<div class="cell name">
									<%= project.author.firstName %>
								</div>
								<div class="cell name">
									<%= project.status %>
								</div>
								<div class="cell date">
									<%= moment(project.created_at).format("MMM DD, YYYY") %>
								</div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Project Description:</strong>
										<%= project.description %>
									</p>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashProject -->
			</div>

			<% } %>
			<!-- </p> -->
			<% countEssential(); %>
		</div>
		<!-- end statsContainer -->
	</div>
	<!-- end stats -->
</div>
<!-- end dashboard -->
<script>
	$(document).ready(function () {
		$('#bob span').click(function (event) {
			event.preventDefault();
			$('.widgetDisplay').hide();
			var id = $(this).data("id");
			$('#' + id).fadeIn(function () {
				$(this).css({
					'display': 'block'
				}, 1000);
			});
		});

		//if(window.location.href.match('/dashboard')){
		// $("body").addClass("dashboard");
		// }

		// list of team members drop down when you click the purple arrow beside your name
		$('.selectTeamMember .fa-angle-down').click(function () {
			$('#allTeamMembers').slideToggle();
		});
		$('.selectMonth .fa-angle-down').click(function () {
			$('#allMonths').slideToggle();
		});

		// when you click the purple arrow beside a task it expands for further info
		$('#accordion .fa-angle-down').click(function () {
			$(this).parent().next('.expanded').slideToggle();
		});

		// when you click on essentials circle it shows tracked essential tasks
		$('.showEssentials').click(function () {
			$('#dashStarter, #dashTlink, #dashProd, #dashContent, #dashProject').hide();
			$('#bottomRow, #dashEssential').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showStarter').click(function () {
			$('#dashEssential, #dashTlink, #dashProd, #dashContent, #dashProject').hide();
			$('#bottomRow, #dashStarter').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showProd').click(function () {
			$('#dashTlink, #dashEssential, #dashContent, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashProd').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showTlink').click(function () {
			$('#dashProd, #dashEssential, #dashContent, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashTlink').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showContent').click(function () {
			$('#dashProd, #dashEssential, #dashTlink, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashContent').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showProject').click(function () {
			$('#dashProd, #dashEssential, #dashTlink, #dashStarter, #dashContent').hide();
			$('#bottomRow, #dashProject').fadeIn("slow");
		});
	});
</script>
<% include partials/footer %>