<% include partials/header %>
<script src="/scripts/dashboard.js"></script>

<style>
/* Sorting arrows in tables on dashboard */
div.dashboardAccordion a[data-sort] {background-color: transparent; display: inline-block; margin: 0 0 0 2px; text-align: center; width: 15px; height: 15px; position: relative;}
div.dashboardAccordion a[data-sort]:before {font-family: FontAwesome; font-weight: bold; color: #fff; font-size: 12px; position: relative;}
div.dashboardAccordion a[data-sort="none"]:before {content: "\f0dc"; bottom: 3px;}
div.dashboardAccordion a[data-sort="descending"]:before {content: "\f0de"; top: 0px; bottom: auto;}
div.dashboardAccordion a[data-sort="ascending"]:before {content: "\f0dd"; bottom: 5px;}
</style>



<div id="overview" class="center">
	<h1>
		<%= currentUser.team %> Dashboard</h1>
	<div class="flexbox flexCenter">
		<!-- <h4 id="thisMonth">August</h4> -->
		<!-- <i class="fas fa-angle-down"></i>  -->
		<div class="selectMonth">
			<dl class="dropdown selectMonth">
				<form id="dateFilter" action="" method="POST">
					<input type="date" id="startDate" />
					<input type="date" id="endDate" />
				</form>
			</dl>
		</div>
	</div>
</div>
<% function countEssential() { %>
<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; var projectCount = 0%>
<% tracking.forEach(function(tracked){ %>
<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
<% if(currentUser.email === tracked.author.email) { %>
<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% strCount++ %>
<% } %>
<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% essCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
<% prodCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
<% tlinkCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
<% contentCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<% projects.forEach(function(project){ %>
<%	for(var i = 0; i < project.owners.length; i++){ %>
<% if(currentUser.firstName === project.owners[i].firstName) { %>
<% if(project.status === "Completed"){ %>
<% projectCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<div id="dashboard">
	<div class="container">
		<div class="developer flexbox flexLeft">
			<div class="selectTeamMember">
				<dl class="dropdown">
					<dt>
						<a class="mainToggle" href="javascript:void(0);">
							<h4 class="activeUser" id="active">
								<%= currentUser.firstName %>
							</h4>
							<i class="fas fa-angle-down"></i>
						</a>
					</dt>
					<dd>

						<script>
							$(document).ready(function(){
								$("div.selectTeamMember a.mainToggle").on("click", function(){
									$("#allTeamMembers").slideToggle(500);
								});
							});
							
						</script>


						<ul id="allTeamMembers">
							<li class="all"><a>All</a></li>
							<% var teamsArray = []; %>
							<% users.forEach(function(user){ %>
								<% if(teamsArray.indexOf(user.team) === -1) { %>
									<% 	teamsArray.push(user.team) %>
								<% } %>
							<% }); %>
							<% teamsArray = (teamsArray).sort() %>
							<% teamsArray.forEach(function(team) { %>
							<li><a href="javascript:void(0);"><%= team %></a><ul class="submenu">
								<% users.forEach(function(user){ %>
									<% if(user.team === team){ %>
										<% if (JSON.stringify(currentUser._id) === JSON.stringify(user._id)) { %>
										<li>
											<a href="javascript:void(0);" class="checked" onclick="return false;"><%= user.firstName %></a>
											<input type="checkbox" name="users" value="<%= user._id %>" checked>
										</li>
										<% } else { %>
										<li>
											<a href="javascript:void(0);" class="" onclick="return false;"><%= user.firstName %></a>
											<input type="checkbox" name="users" value="<%= user._id %>">
										</li>
										<% } %>
									<% } %>
								<% }); %>
							</ul>
							</li>
							<% }); %>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<div id="topRow" class="flexbox">
			<div class="widget leftCol">
				<div class="table graph">
					<h2>Site Builds</h2>
					<div class="wrapper flexbox">
							<%_ var buildsArray = []; _%>
							<%_ tracking.forEach(function(tracked){ _%>
							<%_ if(buildsArray.indexOf(tracked.buildPkg) === -1) { _%>
							<%_ 	buildsArray.push(tracked.buildPkg) _%>
							<%_ } _%>
							<%_ }); _%>
							<%_ buildsArray.forEach(function(builds){ _%>
								<div class="column flexbox">
									<div class="cell graph">
										<a href="javascript:void(0);" class="<%= builds.toLowerCase() %>" data-toggle="show" data-expand="closed">
											<span class="circle">0</span>
										</a>
									</div>
									<div class="cell build"><%= builds %></div>
								</div>
							<%_ }); _%>						
					</div>
				</div>
			</div>
			<!-- End leftCol -->



			<div class="widget rightCol tasks">
				<div class="table">
					<div class="row flexbox showProd">
						<div class="cell task">Prod Change</div>
						<div class="cell taskNumber">
							<%= prodCount %>
						</div>
					</div>
					<div class="row flexbox showTlink">
						<div class="cell task">T.LINK</div>
						<div class="cell taskNumber">
							<%= tlinkCount %>
						</div>
					</div>
					<div class="row flexbox showContent">
						<div class="cell task">Content Entry</div>
						<div class="cell taskNumber">
							<%= contentCount %>
						</div>
					</div>
					<div class="row flexbox showProject">
						<div class="cell task">Projects Completed</div>
						<div class="cell taskNumber">
							<%= projectCount %>
						</div>
					</div>
				</div>
			</div>
			<!-- End rightCol -->
		</div>
		<!-- End topRow -->
		<div id="bottomRow" class="flexbox" style="display:block">

			<div class="quickSearch" style="display: none; text-align: right;">
				<label for="filterTracked">Filter Results:</label>
					<input type="text" id="filterTracked" />
			</div>
			<div class="widget fullCol">
				
			</div>

			<% } %>
			<!-- </p> -->
			<% countEssential(); %>
		</div><!--BOTTOM-->
		<!-- end statsContainer -->
	</div>
	<!-- end stats -->
</div>
<!-- end dashboard -->
<% include partials/footer %>