<% include partials/header %>

  <div id="overview" class="center">
    <h1><%= currentUser.team %> Dashboard</h1>
    <div class="flexbox flexCenter">
      <h4>August</h4><i class="fas fa-angle-down"></i>
    </div>
  </div>
 
  <% function countEssential() { %>
    <% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; %>
      <% tracking.forEach(function(tracked){ %>
        <%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
        <% if(currentUser.firstName === tracked.author.firstName) { %>
          <% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
            <% strCount++ %>
          <% } %> 
          <% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
           <% essCount++ %> 
          <% } %>
          <% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
            <% prodCount++ %>
          <% } %>
          <% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
            <% tlinkCount++ %>
          <% } %>
          <% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
            <% contentCount++ %>
          <% } %>
        <% } %>
        <% } %>
      <% }); %>

  <div id="dashboard">
    <div class="container">
			<div class="developer flexbox flexLeft">
        <div class="selectTeamMember">
       <h4><%= currentUser.firstName %></h4> <i class="fas fa-angle-down"></i>
            <ul id="allTeamMembers"> 
                <li><a href="#">All</a></li>
            <% users.forEach(function(user){ %>
              <% if(user.team == 'Developer' && user.firstName !== currentUser.firstName) { %>
                <li><a href="#"><%= user.firstName %></a></li>
              <% } %>
            <% }); %>
              </ul> 
              </div>
      </div>

      <div id="topRow" class="flexbox">
          <div class="widget leftCol">
            <div class="table graph">
              <h2>Site Builds</h2>
              <div class="wrapper flexbox">
                <div class="column flexbox">
                  <div class="cell graph"><span class="circle showEssentials"><%= essCount++ %></span></div>
                  <div class="cell build">Essentials</div>
                </div>
                <div class="column flexbox">
                  <div class="cell graph"><span class="circle showStarter"><%= strCount %></span></div>
                  <div class="cell build">Starters</div>
                </div>
              </div>
            </div>
          </div><!-- End leftCol -->
               
          <div class="widget rightCol tasks">
            <div class="table">
              <div class="row flexbox">
                <div class="cell task">Prod Change</div>
                <div class="cell taskNumber"><%= prodCount %></div>
              </div>
              <div class="row flexbox">
                <div class="cell task">T.LINK</div>
                <div class="cell taskNumber"><%= tlinkCount %></div>
              </div>
              <div class="row flexbox">
                <div class="cell task">Content Entry</div>
                <div class="cell taskNumber"><%= contentCount %></div>
              </div>
            </div>
          </div><!-- End rightCol --> 
          
          
        </div> <!-- End topRow -->

      
<div id="bottomRow" class="flexbox" style="display:none">
    <div class="widget fullCol">   
      <div id="dashEssential">      
              <h2>Essential Builds</h2>
              <div class="table">   
                  <div class="row title flexbox">
                    <div class="cell url">Website URL</div>
                    <div class="cell actNumber">Account Number</div>
                    <div class="cell name">Designer</div>
                    <div class="cell name">OnBoarder</div>
                    <div class="cell date">Date</div>
                    <div class="cell arrow"></div>
                  </div>

                  <div id="accordion">   
           <% tracking.forEach(function(tracked){ %>
            <% if(currentUser.firstName === tracked.author.firstName) { %>
              <% if(tracked.buildPkg === "Essential" && tracked.archive == !true){ %> 
                <div class="row flexbox">
                    <div class="cell url"><a href="<%= tracked.domain %>"><%= tracked.domain %></a></div>
                    <div class="cell actNumber"><%= tracked.acctNum %></div>
                    <div class="cell name"><%= tracked.designer %></div>
                    <div class="cell name"><%= tracked.onboarder %></div>
                    <div class="cell date"><%= tracked.date %></div>
                    <div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div> 
                    
                    <div class="expanded" style="display:none">
                        <p><strong>Special Features:</strong> <%= tracked.specialFeatures %> <br>
                          <strong>CSS Path:</strong> <%= tracked.cssPath %> <br>
                            <strong>Task:</strong> <% for(i = 0; i < tracked.taskTypes.length; i++) { %>
                              <%= tracked.taskTypes[i].taskTypeName %> / <%= tracked.taskTypes[i].quantity %> / <%= tracked.taskTypes[i].taskNotes %>
                             <% }; %>  <br>
                              <strong>Notes:</strong> <%= tracked.notes %> <br></p>
                    </div> <!-- end of expanded -->

            </div>
              <% } %>
            <% } %>
          <% }); %> 
          </div>
          </div>
          </div> <!-- end of dashEssential -->
   
          <div id="dashStarter">  
              <h2>Starter Builds</h2>
              <div class="table">   
                  <div class="row title flexbox">
                    <div class="cell url">Website URL</div>
                    <div class="cell actNumber">Account Number</div>
                    <div class="cell name">Designer</div>
                    <div class="cell name">OnBoarder</div>
                    <div class="cell date">Date</div>
                    <div class="cell arrow"></div>
                  </div>

                  <div id="accordion">
           <% tracking.forEach(function(tracked){ %>
            <% if(currentUser.firstName === tracked.author.firstName) { %>
              <% if(tracked.buildPkg === "Starter" && tracked.archive == !true){ %> 
                    <div class="row flexbox">
                        <div class="cell url"><a href="<%= tracked.domain %>"><%= tracked.domain %></a></div>
                        <div class="cell actNumber"><%= tracked.acctNum %></div>
                        <div class="cell name"><%= tracked.designer %></div>
                        <div class="cell name"><%= tracked.onboarder %></div>
                        <div class="cell date"><%= tracked.date %></div>
                        <div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>  

                        <div class="expanded" style="display:none">
                            <p><strong>Starter Template:</strong> <%= tracked.starterTemplate %> <br>
                              <strong>Task:</strong> <% for(i = 0; i < tracked.taskTypes.length; i++) { %>
                               <%= tracked.taskTypes[i].taskTypeName %> / <%= tracked.taskTypes[i].quantity %> / <%= tracked.taskTypes[i].taskNotes %>
                              <% }; %> <br>
                              <strong>Notes:</strong> <%= tracked.notes %> <br></p>
                        </div> <!-- end of expanded -->
                      
            </div>
              <% } %>
            <% } %>
          <% }); %> 
          </div>
      </div> 
      </div> <!-- end of dashStarter -->
</div>
    <!-- <div id="stats">
      <h3>View your stats from this month below:</h3><br />
      <div class="statsContainer">
        <p>
         
              <h4>Essentials: <span id="essCount"><%= essCount %> </span> | Starters: <span id="strCount"><%= strCount %></span> | Prod Change: <span id="prodCount"><%= prodCount %></span> | T.LINK Branding: <span id="tlinkCount"><%= tlinkCount %></span></h4> 
                           
            <script src="https://d3js.org/d3.v3.min.js"></script>
            
              <script>
                var essCount = parseInt($("#essCount").text());
                var strCount = parseInt($("#strCount").text());
                var prodCount = parseInt($("#prodCount").text());
                var tlinkCount = parseInt($("#tlinkCount").text());
                
                var data=[{"taskType":"Essentials", "totalTasks":essCount}, {"taskType":"Starters","totalTasks":strCount}, {"taskType":"Prod. Changes", "totalTasks":prodCount}, {"taskType":"T.Link Brandings", "totalTasks":tlinkCount}];
                
                var width = 800,
                  height = 250,
                  radius = Math.min(width, height) / 2;

                var color = d3.scale.ordinal()
                .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

                var arc = d3.svg.arc()
                  .outerRadius(radius - 10)
                  .innerRadius(radius - 70);

                var pie = d3.layout.pie()
                  .sort(null)
                  .value(function (d) {
                    return d.totalTasks;
                  });

                var svg = d3.select(".statsContainer").append("svg")
                  .attr("width", width)
                  .attr("height", height)
                  .append("g")
                  .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                var g = svg.selectAll(".arc")
                  .data(pie(data))
                  .enter().append("g")
                  .attr("class", "arc");

                g.append("path")
                  .attr("d", arc)
                  .style("fill", function (d) {
                    return color(d.data.taskType);
                  });

                g.append("text").attr("transform", function (d) {
                    return "translate(" + arc.centroid(d) + ")";
                  })
                  .attr("dy", ".35em")
                  .style("text-anchor", "middle")
                  .text(function (d) {
                    return d.data.taskType;
                  });
              </script> -->
            <% } %>
          <!-- </p> -->
        <% countEssential(); %>
      </div><!-- end statsContainer -->
    </div><!-- end stats -->
  </div><!-- end dashboard -->
  <script>
      $(document).ready(function () {
        $('#bob span').click(function (event) {
            event.preventDefault();
            $('.widgetDisplay').hide();
            var id = $(this).data("id");
            $('#' + id).fadeIn(function () {
                $(this).css({
                    'display': 'block'
                }, 1000);
            });
        });

          // list of team members drop down when you click the purple arrow beside your name
          $('.selectTeamMember .fa-angle-down').click(function() {
              $('#allTeamMembers').slideToggle();
          });

          // when you click the purple arrow beside a task it expands for further info
          $('#accordion .fa-angle-down').click(function() {
           $(this).parent().next('.expanded').slideToggle();
          });

          // when you click on essentials circle it shows tracked essential tasks
          $('.showEssentials').click(function() {
            $('#dashStarter').hide();
            $('#bottomRow, #dashEssential').fadeIn("slow");
          });

          // when you click on essentials circle it shows tracked starter tasks
           $('.showStarter').click(function() {
            $('#dashEssential').hide();
            $('#bottomRow, #dashStarter').fadeIn("slow");
          });
      });
    </script>
<% include partials/footer %>