<% include partials/header %>
<div id="overview" class="center">
	<h1>
		<%= currentUser.team %> Dashboard</h1>
	<div class="flexbox flexCenter">
		<!-- <h4 id="thisMonth">August</h4> -->
		<!-- <i class="fas fa-angle-down"></i>  -->
		<div class="selectMonth">
			<dl class="dropdown selectMonth">
				<dt>
					<a>
						<h4 id="thisMonth"></h4>
						<i class="fas fa-angle-down"></i>
					</a>
				</dt>
				<dd>
					<ul id="allMonths">
						<li><a>January</a></li>
						<li><a>February</a></li>
						<li><a>March</a></li>
						<li><a>April</a></li>
						<li><a>May</a></li>
						<li><a>June</a></li>
						<li><a>July</a></li>
						<li><a>August</a></li>
						<li><a>September</a></li>
						<li><a>October</a></li>
						<li><a>November</a></li>
						<li><a>December</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>
<% function countEssential() { %>
<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; var projectCount = 0%>
<% tracking.forEach(function(tracked){ %>
<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
<% if(currentUser.email === tracked.author.email) { %>
<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% strCount++ %>
<% } %>
<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% essCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
<% prodCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
<% tlinkCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
<% contentCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<% projects.forEach(function(project){ %>
<%	for(var i = 0; i < project.owners.length; i++){ %>
<% if(currentUser.firstName === project.owners[i].firstName) { %>
<% if(project.status === "Completed"){ %>
<% projectCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<div id="dashboard">
	<div class="container">
		<div class="developer flexbox flexLeft">
			<div class="selectTeamMember">
				<dl class="dropdown">
					<dt>
						<a>
							<h4 class="activeUser" id="active">
								<%= currentUser.firstName %>
							</h4>
							<i class="fas fa-angle-down"></i>
						</a>
					</dt>
					<script>
						let user = "<%= currentUser.firstName %>";
						$(document).ready(function () {
							if (user === "Justin") {

							}
						})
					</script>
					<dd>
						<ul id="allTeamMembers">
							<li><a>All</a></li>
							<% users.forEach(function(user){ %>
							<% if(user.team == 'Developer') { %>
							<li><a>
									<%= user.firstName %></a></li>
							<% } %>
							<% }); %>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<div id="topRow" class="flexbox">
			<div class="widget leftCol">
				<div class="table graph">
					<h2>Site Builds</h2>
					<div class="wrapper flexbox">
						<div class="column flexbox">
							<div class="cell graph"><span class="circle showEssentials">
									<%= essCount %></span></div>
							<div class="cell build">Essentials</div>
						</div>
						<div class="column flexbox">
							<div class="cell graph"><span class="circle showStarter">
									<%= strCount %></span></div>
							<div class="cell build">Starters</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End leftCol -->

			<div class="widget rightCol tasks">
				<div class="table">
					<div class="row flexbox showProd">
						<div class="cell task">Prod Change</div>
						<div class="cell taskNumber">
							<%= prodCount %>
						</div>
					</div>
					<div class="row flexbox showTlink">
						<div class="cell task">T.LINK</div>
						<div class="cell taskNumber">
							<%= tlinkCount %>
						</div>
					</div>
					<div class="row flexbox showContent">
						<div class="cell task">Content Entry</div>
						<div class="cell taskNumber">
							<%= contentCount %>
						</div>
					</div>
					<div class="row flexbox showProject">
						<div class="cell task">Projects Completed</div>
						<div class="cell taskNumber">
							<%= projectCount %>
						</div>
					</div>
				</div>
			</div>
			<!-- End rightCol -->
		</div>
		<!-- End topRow -->


		<div id="bottomRow" class="flexbox" style="display:none">
			<div class="widget fullCol">
				<div id="dashEssential">
					<h2>Essential Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<%# if(currentUser.email === tracked.author.email) { #%>
							<% if(tracked.buildPkg === "Essential" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>

								</div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Home Screenshot:</strong> <a href="<%= tracked.homeSS %>" target="_blank">
											<%= tracked.homeSS %></a> </p>
									<p><strong>Interior Screenshot:</strong> <a href="<%= tracked.interiorSS %>" target="_blank">
											<%= tracked.interiorSS %></a></p>
									<p><strong>Special Features:</strong>
										<%= tracked.specialFeatures %>
									</p>
									<p><strong>CSS Path:</strong>
										<%= tracked.cssPath %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<%# } #%>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashEssential -->

				<div id="dashStarter">
					<h2>Starter Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<% if(tracked.buildPkg === "Starter" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Starter Template:</strong>
										<%= tracked.starterTemplate %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashProd">
					<h2>Prod Changes</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashTlink">
					<h2>T.LINK Branding</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashContent">
					<h2>Content</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber">
									<%= tracked.acctNum %>
								</div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %>
										</li>
										<ul>
											<li>
												<%= tracked.taskTypes[i].quantity %>
											</li>
											<li>
												<%= tracked.taskTypes[i].taskNotes %>
											</li>
										</ul>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashProject">
					<h2>Special Projects</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Project Name</div>
							<div class="cell actNumber">Owners</div>
							<div class="cell name">Creator</div>
							<div class="cell name">Status</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% projects.forEach(function(project){ %>
							<%	for(var i = 0; i < project.owners.length; i++){ %>
							<% if(currentUser.firstName === project.owners[i].firstName) { %>
							<% if(project.status === "Completed"){ %>
							<div class="row flexbox">
								<div class="cell url">
									<%= project.name %>
								</div>
								<div class="cell actNumber">
									<%	for(var i = 0; i < project.owners.length; i++){ %>
									<span>
										<%= project.owners[i].firstName %></span>
									<% } %>
								</div>
								<div class="cell name">
									<%= project.author.firstName %>
								</div>
								<div class="cell name">
									<%= project.status %>
								</div>
								<div class="cell date">
									<%= moment(project.created_at).format("MMM DD, YYYY") %>
								</div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Project Description:</strong>
										<%= project.description %>
									</p>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashProject -->
			</div>

			<% } %>
			<!-- </p> -->
			<% countEssential(); %>
		</div>
		<!-- end statsContainer -->
	</div>
	<!-- end stats -->
</div>
<!-- end dashboard -->
<script>
	$(document).ready(function () {
		$('#bob span').click(function (event) {
			event.preventDefault();
			$('.widgetDisplay').hide();
			var id = $(this).data("id");
			$('#' + id).fadeIn(function () {
				$(this).css({
					'display': 'block'
				}, 1000);
			});
		});

		//if(window.location.href.match('/dashboard')){
		// $("body").addClass("dashboard");
		// }

		// list of team members drop down when you click the purple arrow beside your name
		$('.selectTeamMember .fa-angle-down').click(function () {
			$('#allTeamMembers').slideToggle();
		});
		$('.selectMonth .fa-angle-down').click(function () {
			$('#allMonths').slideToggle();
		});

		// when you click the purple arrow beside a task it expands for further info
		$('#accordion .fa-angle-down').click(function () {
			$(this).parent().next('.expanded').slideToggle();
		});

		// when you click on essentials circle it shows tracked essential tasks
		$('.showEssentials').click(function () {
			$('#dashStarter, #dashTlink, #dashProd, #dashContent, #dashProject').hide();
			$('#bottomRow, #dashEssential').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showStarter').click(function () {
			$('#dashEssential, #dashTlink, #dashProd, #dashContent, #dashProject').hide();
			$('#bottomRow, #dashStarter').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showProd').click(function () {
			$('#dashTlink, #dashEssential, #dashContent, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashProd').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showTlink').click(function () {
			$('#dashProd, #dashEssential, #dashContent, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashTlink').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showContent').click(function () {
			$('#dashProd, #dashEssential, #dashTlink, #dashStarter, #dashProject').hide();
			$('#bottomRow, #dashContent').fadeIn("slow");
		});
		// when you click on essentials circle it shows tracked starter tasks
		$('.showProject').click(function () {
			$('#dashProd, #dashEssential, #dashTlink, #dashStarter, #dashContent').hide();
			$('#bottomRow, #dashProject').fadeIn("slow");
		});
	});
	var month = new Array();
	month[0] = "January";
	month[1] = "February";
	month[2] = "March";
	month[3] = "April";
	month[4] = "May";
	month[5] = "June";
	month[6] = "July";
	month[7] = "August";
	month[8] = "September";
	month[9] = "October";
	month[10] = "November";
	month[11] = "December";

	var d = new Date();
	var n = month[d.getMonth()];
	document.getElementById("thisMonth").innerHTML = n;
</script>
<% include partials/footer %>