<% include partials/header %>

  <h1 class="pageHeader">Hey
    <%= currentUser.firstName %>! Welcome to your
      <%= currentUser.team %> Dashboard.</h1>
  <div id="dashboard">
    <div id="dashboardLinks">
      <h3>Select a tool to use below:</h3>
      <br />
      <div class="dashboardLinksContainer">
        <div class="galleryMenu"><a href="/tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Team Tracker" />
          <p><%= currentUser.team %> Tracker</p></a></div>
        <div class="galleryMenu"><a href="/projects-tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Special Projects Tracker" />
          <p>Special Projects Tracker</p></a></div>
        <div class="galleryMenu"><a href="/checklist">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Developer Checklist" />
          <p><%= currentUser.team %> Checklist</p></a></div>
        <div class="galleryMenu"><a href="/idea-warehouse">
          <img src="https://i.imgur.com/VOI6pdZ.jpg " alt="Idea Warehouse" />
          <p>Idea Warehouse</p></a></div>
        <div class="galleryMenu"><a href="/hats-off">
          <img src="https://i.imgur.com/GFi4LzV.png" alt="Hats Off" />
          <p>Hats-Off</p></a></div>
        <div class="galleryMenu"><a href="/blueprint-generator">
          <img src="https://i.imgur.com/03ZeeGp.jpg" alt="Blueprint Generator" />
          <p>Blueprint Generator</p></a></div>
        <div class="galleryMenu"><a href="/presence-url-tracker">
          <img src="https://i.imgur.com/QDOoFQe.png" alt="Presence URL Tracker" />
          <p>Presence URL Tracker</p></a></div>
      </div>
    </div>
    <div id="stats">
      <h3>View your stats from this month below:</h3>
      <br />
      <div class="statsContainer">
        
        <p>
          <% function countEssential() { %>
            <% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; %>
              <% tracking.forEach(function(tracked){ %>
                <% if(currentUser.firstName === tracked.author.firstName) { %>
                <% if(tracked.buildPkg === "Starter" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                    <% strCount++ %>
                    <% } %>
                  <% if(tracked.buildPkg === "Essential" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                      <% essCount++ %>
                    <% } %>
                      
                      <% if(tracked.taskTypes.taskTypeName === "Production Change"){ %>
                        <% prodCount++ %>
                      <% } %>
                    <% if(tracked.taskTypes.taskTypeName === "T.LINK Branding"){ %>
                        <% tlinkCount++ %>
                      <% } %>
                
                  <% } %>
                  <% }); %>
                <h4>Essentials: <%= essCount %> | Starters: <%= strCount %> | Prod Change: <%= prodCount %> | T.LINK Branding: <%= tlinkCount %></h4>
                
            <% } %>
        </p>
        <% countEssential(); %>
        
      </div>
    </div>

  </div>

  <% include partials/footer %>