<% include partials/header %>

<div id="overview" class="center">
    <h1>
        <%= currentUser.team %> Dashboard</h1>
        <div class="flexbox flexCenter">
          <h4>August</h4><i class="fas fa-angle-down"></i>
            </div>
  
  </div>
 
  <div id="dashboard">

    <div id="stats">
      <h3>View your stats from this month below:</h3>
      <br />
      <div class="statsContainer">
        
        <p>
          <% function countEssential() { %>
            <% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; %>
              <% tracking.forEach(function(tracked){ %>
                <% if(currentUser.firstName === tracked.author.firstName) { %>
                <% if(tracked.buildPkg === "Starter" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                    <% strCount++ %>
                    <% } %>
                  <% if(tracked.buildPkg === "Essential" && tracked.taskTypes.taskTypeName === "Site Build"){ %>
                      <% essCount++ %>
                    <% } %>
                      
                      <% if(tracked.taskTypes.taskTypeName === "Production Change"){ %>
                        <% prodCount++ %>
                      <% } %>
                    <% if(tracked.taskTypes.taskTypeName === "T.LINK Branding"){ %>
                        <% tlinkCount++ %>
                      <% } %>
                
                  <% } %>
                  <% }); %>
                <h4>Essentials: <%= essCount %> | Starters: <%= strCount %> | Prod Change: <%= prodCount %> | T.LINK Branding: <%= tlinkCount %></h4>
                
            <% } %>
        </p>
        <% countEssential(); %>
        
      </div>
    </div>

  </div>

  <% include partials/footer %>