<% include partials/header %>
<div id="overview" class="center">
  <h1>
    <%= currentUser.firstName %>'s Profile</h1>
</div>
<div class="container" style="margin: 10px auto;">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-thumbnail">
        <img onerror="this.src='/images/Projectweb.png'" src="<%= currentUser.profileImageUrl %>" alt="<%= currentUser.firstName%>" />
      </div>
    </div>
    <div class="col-md-9">
      <form class="form profileForm" action="/edit-profile" method="POST" enctype="multipart/form-data">
        <section class="header flexbox flexJustify">
          <h2>Edit Profile</h2>
        </section>
        <div class="wrapper">
          <section class="flexbox flexJustify">
            <label for="firstName"><span>First Name:</span>
              <input type="text" name="firstName" placeholder="First Name" value="<%= currentUser.firstName %>">
            </label>
            <label for="lastName"><span>Last Name:</span>
              <input type="text" name="lastName" placeholder="Last Name" value="<%= currentUser.lastName %>">
            </label>
            <label for="email"><span>E-mail:</span>
              <input type="text" name="email" placeholder="Email" value="<%= currentUser.email %>">
            </label>
            <label for="password"><span>Password:</span><input type="password" name="password" placeholder="Password"></label>
            <label for="quote"><span>Quote:</span><input type="text" name="quote" placeholder="Quote"></label>
            <label for="funFacts"><span>Fun Facts:</span><input type="text" name="funFacts" placeholder="Fun Facts"></label>
            <label for="team"><span>Team:</span>
              <select name="team">
                <option value="<%= currentUser.team %>">
                  <%= currentUser.team %>
                </option>
              </select>
            </label>
          </section>
          <section class="flexbox flexJustify">
            <label for="skills"><span>Skills:</span>
              <input type="text" name="skills" placeholder="Skillset" value="<%= currentUser.skills %>" />
            </label>
            <label for="socials"><span>Social:</span>
              <input type="text" name="socials" placeholder="Your Social Links" value="<%= currentUser.socials %>" />
            </label>
          </section>
          <label for="bio"><span>Bio:</span>
            <textarea type="text" name="bio" placeholder="Your Bio" value="<%= currentUser.bio %>"><%= currentUser.bio %></textarea>
          </label>
          <label for="imageProfile"><span>Profile Image</span></label>
          <div class="upload-btn-wrapper">
            <button class="btn">Upload a Image</button>
            <input type="file" id="image" name="image" accept="image/*" value="<%= currentUser.profileImageUrl %>" />
          </div>

          <label for="imagePreview"><span>Image Preview</span>
            <img id="imagePreview" src="#" alt="your image" style="margin: 10px auto;" />
          </label>

          <button type="submit">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>