<% include partials/header %>
<div id="overview" class="center"><h1>Meet Your Team</h1></div>
<div id="dashboard">
  <div class="container">
    <h3 class="pageHeader">Get to know your team better</h3>
    <div class="team">
      <div class="teamWrapper">
        <h2>Developers</h2>
        <div class="teamMembers flexbox">
          <% users.forEach(function(user){%> <% if(user.team === "Developer"){
          %>
          <div class="employee flexbox">
            <div class="empImage">
              <img
                onerror="this.src='/images/Projectweb.png'"
                src="<%= user.profileImageUrl %>"
                alt="<%= user.firstName%>"
              />
            </div>
            <div class="empName">
              <h4><strong> <%= user.firstName %></strong></h4>
            </div>
            <div class="dept">
              <span class="projectStatus">
                <a href="mailto:<%= user.email %>"><%= user.email %></a></span
              >
            </div>
            <a href="/team/<%= user.id %>" class="myBtn">More Info</a>
          </div>
          <% } %> <% }); %>
        </div>
        <hr />
        <h2>Designers</h2>
        <div class="teamMembers flexbox">
          <% users.forEach(function(user){%> <% if(user.team === "Designer"){ %>
          <div class="employee flexbox">
            <div class="empImage">
              <img
                onerror="this.src='/images/Projectweb.png'"
                src="<%= user.profileImageUrl %>"
                alt="<%= user.firstName%>"
              />
            </div>
            <div class="empName">
              <h4><strong> <%= user.firstName %></strong></h4>
            </div>
            <div class="dept">
              <span class="deptTitle">Email:</span>
              <span class="projectStatus">
                <a href="mailto:<%= user.email %>"><%= user.email %></a></span
              >
            </div>
            <a href="/team/<%= user.id %>" class="myBtn">More Info</a>
          </div>
          <% } %> <% }); %>
        </div>
        <hr />
        <h2>Copywriter</h2>
        <div class="teamMembers flexbox">
          <% users.forEach(function(user){%> <% if(user.team === "Copywriter"){
          %>
          <div class="employee flexbox">
            <div class="empImage">
              <img
                onerror="this.src='/images/Projectweb.png'"
                src="<%= user.profileImageUrl %>"
                alt="<%= user.firstName%>"
              />
            </div>
            <div class="empName">
              <h4><strong> <%= user.firstName %></strong></h4>
            </div>
            <div class="dept">
              <span class="deptTitle">Email:</span>
              <span class="projectStatus">
                <a href="mailto:<%= user.email %>"><%= user.email %></a></span
              >
            </div>
            <a href="/team/<%= user.id %>" class="myBtn">More Info</a>
          </div>
          <% } %> <% }); %>
        </div>
        <hr />
        <h2>On-Boarder</h2>
        <div class="teamMembers flexbox">
          <% users.forEach(function(user){%> <% if(user.team === "On-Boarder"){
          %>
          <div class="employee flexbox">
            <div class="empImage">
              <img
                onerror="this.src='/images/Projectweb.png'"
                src="<%= user.profileImageUrl %>"
                alt="<%= user.firstName%>"
              />
            </div>
            <div class="empName">
              <h4><strong> <%= user.firstName %></strong></h4>
            </div>
            <div class="dept">
              <span class="deptTitle">Email:</span>
              <span class="projectStatus">
                <a href="mailto:<%= user.email %>"><%= user.email %></a></span
              >
            </div>
            <a href="/team/<%= user.id %>" class="myBtn">More Info</a>
          </div>
          <% } %> <% }); %>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
