<% include partials/header %>

<div id="overview" class="center">
  <h1>Meet
    <%= user.firstName %>
    <%= user.lastName %>
  </h1>
  <h5>
    <%= user.team %>
  </h5>
</div>
<div id="dashboard">
  <div class="container flexbox">
    <div class="quickView">
      <div class="empImg">
        <img onerror="this.src='/images/Projectweb.png'" src="../<%= user.profileImageUrl %>" alt="<%= user.firstName %>" />
      </div>
      <div class="quickInfo">
        <div class="detTitle">
          <h6>Skills:</h6>
        </div>
        <div class="details">
          <p>
            <%= user.skills %>
          </p>
        </div>
        <div class="detTitle">
          <h6>Links:</h6>
        </div>
        <div class="details">
          <p>
            <a href="<%= user.socials %>" target="_blank">
              <%= user.socials %></a>
          </p>
        </div>
        <div class="detTitle">
          <h6>Fun Fact:</h6>
        </div>
        <div class="details">
          <p>
            <%= user.funFacts %>
          </p>
        </div>
        <div class="detTitle">
          <h6>Quote:</h6>
        </div>
        <div class="details">
          <p>
            <%= user.quote %>
          </p>
        </div>
      </div>
    </div>
    <div class="summary">
      <h2>Background</h2>
      <p>
        <%= user.bio %>
      </p>
    </div>
  </div>
</div>
<% include partials/footer %>