<% include partials/header %>


<style>
        /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: transparent;
        margin: 3% auto; 
        padding: 0;
        border: none;
        max-width: 60%; /* Could be more or less, depending on screen size */
        
    }
    
    /* Exit form */
    .form-exit {display: flex; font-size: 1em; margin: 0 0 10px;}

    /* The Close Button */
    .close {
        opacity:1;
        color: rgba(0,0,0,0.6);
        font-size: 3em;
        font-weight: bold;
        text-align: right;
        float:none;
        width:100%;
        line-height:.5em;   
        text-shadow:none;
    }
    
    .close:hover,
    .close:focus {
        color: rgba(0,0,0,0.9);
        text-decoration: none;
        cursor: pointer;
    }
    .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {color:rgba(0,0,0,0.9)}
    #myBtn {margin: 10px 0;}
    </style>

<a href="/dashboard">&larr; Back to Dashboard</a><br /><br />

<h3 class="pageHeader"><%= currentUser.firstName %>, this is where you will track any of your completed tasks.</h1>
<div id="tracker">
    <div class="trackerContainer">
            <!--<% tracking.forEach(function(tracked){ %>
                <div class="col-md-12">
                    <div class="container">
                        <div id="tracked">
                             <p><strong><%= tracked.author.firstName %></strong> | <%= tracked.buildPkg %> | <%= tracked.acctNum %> | <%= tracked.date %> | <%= tracked.specialFeatures %> | <%= tracked.domain %></p>
                        </div>
                    </div>
                </div>
            <% }); %>-->

        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Track Something</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            
            <div>
            <form class="trackerForm" action="/tracker" method="POST">

               <div class="form-exit"> <span class="close">&times;</span></div>

                <div class="form-group">
                <label name="date">Date:
                    <input type="date" name="date" />
                </label>

                <label name="acctNum" />Account Number:
                <input type="number" name="acctNum" placeholder="######" >
            </label>
        </div> <!-- end of form-group -->

             <div class="form-group">
                <label name="username">Developer:
                    <input type="text" name="username" value="<%= currentUser.firstName %>" />
                </label>
               </div> <!-- end of form-group -->
                
               <div class="form-group">
                    <label name="designer">Designer:
                            <select name="designer" id="designer">
                                    <option value="Select Designer" selected>Select Designer</option>
                                    <option value="NA">N/A</option> <!-- If site is a Starter -->
                                    <% users.forEach(function(user){ %>
                                        <% if(user.team == 'Designer') { %>
                                            <option value="<%= user.firstName %>"><%= user.firstName %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                    </label>
    
                    <label name="onboarder">On-Boarder:
                            <select name="onboarder">
                                    <option value="Select On-Boarder" selected>Select On-Boarder</option>
                                    <% users.forEach(function(user){ %>
                                        <% if(user.team == 'On-Boarder') { %>
                                            <option value="<%= user.firstName %>"><%= user.firstName %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                    </label>
                    </div> <!-- end of form-group -->

                <div class="form-group">
                <label name="buildPkg">Build Package:
                    <select name="buildPkg" id="buildPkg">
                            <option value="Select Build Package" selected>Select Build Package</option>
                        <option value="Essential">Essential</option>
                        <option value="Starter">Starter</option>
                    </select>
                </label>

                <label name="starterTemplate" class="ifStarter">Starter Template:
                    <select name="starterTemplate" class="starterClearInput">
                        <option value="Select Template">Select Template</option>
                        <option value="Neverland">Neverland</option>
                        <option value="Atlantis">Atlantis</option>
                        <option value="Camelot">Camelot</option>
                        <option value="Olympus">Olympus</option>
                    </select>
                </label>
            </div> <!-- end of form-group -->

            <div class="form-group">
                    <label name="specialFeatures" class="ifEssential">Special Features:
                            <select name="specialFeatures" class="essentialClearInput" multiple>
                                <option value="Breadcrumbs">Breadcrumbs</option>
                                <option value="Interior Featured Image">Interior Featured Image</option>
                                <option value="Mega Menu">Mega Menu</option>
                                <option value="Object Fit">Object Fit</option>
                                <option value="Shrinky Header">Shrinky Header</option>
                                <option value="Search Bar">Search Bar</option>
                                <option value="Scroll Efects">Scroll Effects</option>
                            </select>
                        </label>
                    </div> <!-- end of form-group -->


                <div class="form-group">
                <label name="domain">Domain:
                    <input type="text" name="domain" placeholder="Domain">
                </label>

                <label name="cssPath" class="ifEssential">CSS Path:
                        <input type="text" name="cssPath" placeholder="CSS Path" class="essentialClearInput">
                </label>
                </div> <!-- end of form-group -->
        

                <div class="form-group">
                <label class="labelTask" name="taskType">Task:
                    <input type="text" name="taskType" placeholder="Logic coming later">
                </label>
                </div> <!-- end of form-group -->

            <div class="form-group">
                <label class="labelNotes" name="notes">Notes:
                    <textarea name="notes"></textarea>
                </label>
            </div> <!-- end of form-group -->

                <button>Submit</button>
            </form>
        </div>
        </div>

        </div>
    </div>
</div>
<script>
    // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
        // Logic for hiding/showing tracker form fields
        // Hide Special Features, Starter Template and CSS Path inputs initially
        $('.ifEssential').hide();
        $('.ifStarter').hide();
        
        $(function() {
        $('#buildPkg').on('change', function(){
            // If Build Package selection is "Essential" then show Special Features and CSS Path fields
            // Reset to default selection for Starter Template dropdown
            if ($(this).val() === 'Essential'){
            $('.ifEssential').show();
            $('.starterClearInput').prop('selectedIndex',0);
        }  
         
        else {
            // If "Essential" is not chosen then keep associated fields hidden
            $('.ifEssential').hide();
        }

            // If Build Package selection is "Starter" then show Starter Template dropdown
            // Reset to selections/input fields for Special Features and CSS Path
            if ($(this).val() === 'Starter'){
            $('.ifStarter').show();
            $('.essentialClearInput').val("");
        }  
        
        else {
            // If "Starter" is not chosen then keep associated fields hidden
            $('.ifStarter').hide();
        }
        });
        });	
</script>
<% include partials/footer %>
