<% include ../partials/header %>
<div id="overview" class="center">
    <h1><%= currentUser.team %> Tracker Archive Page</h1>
</div>
<% function countEssential() { %>
	<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; %>
		<% tracking.forEach(function(tracked){ %>
			<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
			<% if(currentUser.firstName === tracked.author.firstName) { %>
				<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == true){ %>
					<% strCount++ %>
				<% } %> 
				<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == true){ %>
					<% essCount++ %>
				<% } %>
				<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == true){ %>
					<% prodCount++ %>
				<% } %>
				<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == true){ %>
					<% tlinkCount++ %>
				<% } %>
				<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == true){ %>
					<% contentCount++ %>
				<% } %>
			<% } %>
			<% } %>
		<% }); %>
<div class="container">
	<h3 style="text-align: center; margin: 10px 0 20px;">Welcome to the Archive Section - please proceed with caution</h3>
	<h4 style="text-align: center; margin: 20px 0;"><span class="showEssentials myBtn">Essentials: <%= essCount %></span> | <span class="showStarter myBtn">Starters: <%= strCount %></span> | <span class="showProd myBtn">Prod Change: <%= prodCount %></span> | <span class="showTlink myBtn">T.LINK Branding: <%= tlinkCount %></span> | <span class="showContent myBtn">Content Entry: <%= contentCount %></span></h4>
<div id="bottomRow" class="flexbox">
         <div class="widget fullCol">
				<div id="dashEssentials">
					<% tracking.forEach(function(tracked){ %>
					<% if(tracked.buildPkg === "Essential" && tracked.archive === true){ %>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Onboarder</div>
							<div class="cell name">Build Package</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">				

							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank"><%= tracked.domain %></a></div>
								<div class="cell actNumber"><%= tracked.acctNum %></div>
								<div class="cell name"><%= tracked.onboarder %></div>
								<div class="cell name"><%= tracked.buildPkg %></div>
								<div class="cell date"><%= tracked.date %></div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display: none;">
									<p><strong>Developer:</strong> <%= tracked.author.firstName %> </p>
									<p><strong>Build Package:</strong> <%= tracked.buildPkg %> </p>
										<% if(tracked.buildPkg === "Essential") { %>
											<p><strong>Special Features:</strong> <%= tracked.specialFeatures %> </p>
											<p><strong>CSS Path:</strong> <%= tracked.cssPath %></p>
											<p><strong>Home Screenshot:</strong> <a href="<%= tracked.homeSS %>" target="_blank"><%= tracked.homeSS %></a> </p>
											<p><strong>Interior Screenshot:</strong> <a href="<%= tracked.interiorSS %>" target="_blank"><%= tracked.interiorSS %></a></p>
										<% } %>
										<% if(tracked.buildPkg === "Starter") { %>
											<p><strong>Starter Template:</strong> <%= tracked.starterTemplate %> </p>
										<% } %>
									<p><strong>Server:</strong> <%= tracked.server %> </p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li><%= tracked.taskTypes[i].taskTypeName %> / <%= tracked.taskTypes[i].quantity %> / <%= tracked.taskTypes[i].taskNotes %></li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong> <%= tracked.notes %></p>
									<p><strong>Archived:</strong> <%= tracked.archive %></p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit"><button class="btn edit">Edit Task</button></a>
											<form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
										<button type="submit" class="btn delete">Delete</button>
									</form>
									<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST"> 
										<button class="btn archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Un-Archive</button>
								   </form> 
								   <script> 
									$(document).ready(function(){
										$("#delete-form button.archiveButton").click(function(){
											$("#delete-form button.archiveButton").each(function(){
												$(this).val("false");
											});
										});
									}); 
								</script>
									</div> 
								</div>
								<!-- end of expanded --> 								
							</div>
							
						</div>
					</div>
											<% } %>
				
			<% }); %>
				</div>
												<% } %>
		<% countEssential(); %>
            </div>
</div>
</div>
<script>
// when you click the purple arrow beside a task it expands for further info
$('#accordion .fa-angle-down').click(function() {
	$(this).parent().next('.expanded').slideToggle();
});

</script>
<% include ../partials/footer %>