<% include ../partials/header %>
<div id="overview" class="center">
  <h1><%= currentUser.team %> Tracker Edit Page</h1>
</div>
<div class="container">
  <div class="row">
      <p><a href="/tracker">&larr; Back to Tracker</a></p>
    <div class="col-md-12">
      <h1>Edit Task</h1>
      <form onsubmit="countTaskTypes();" class="trackerForm" action="/tracker/<%= tracking._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label name="date">Date:
            <input type="date" name="tracking[date]" required value="<%= tracking.date %>" />
          </label>
          <label name="acctNum" />Account Number:
            <input type="number" name="tracking[acctNum]" value="<%= tracking.acctNum %>" >
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="username">Developer:
            <input type="text" name="tracking[username]" value="<%= currentUser.firstName %>" />
          </label>
            <label name="server">Server:
                <select name="tracking[server]" id="server">
                    <option value="<%= tracking.server %>" selected><%= tracking.server %></option>
                    <% if(tracking.server === "Presence") { %>
                      <option value="DNN">DNN</option>
                      <option value="T.LINK">T.LINK</option>
                      <% } %>
                      <% if(tracking.server === "DNN") { %>
                    <option value="Presence">Presence</option>
                    <option value="T.LINK">T.LINK</option>
                    <% } %>
                    <% if(tracking.server === "T.LINK") { %>
                      <option value="Presence">Presence</option>
                      <option value="DNN">DNN</option>
                      <% } %>
                  </select>
              
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
          <label name="tracking[designer]">Designer:
            <select name="tracking[designer]">
                <option value="<%= tracking.designer %>"><%= tracking.designer %></option>
                <option value="None">None</option>
                 <% users.forEach(function(user){ %>
                      <% if(user.team == 'Designer') { %>
                          <option value="<%= user.firstName %>"><%= user.firstName %></option>
                      <% } %>
                  <% }); %>
            </select>
          </label>
          <label name="tracking[onboarder]">On-Boarder:
            <select name="tracking[onboarder]">
                <option value="<%= tracking.onboarder %>"><%= tracking.onboarder %></option>
                <option value="None">None</option>
                <% users.forEach(function(user){ %>
                  <% if(user.team == 'On-Boarder') { %>
                      <option value="<%= user.firstName %>"><%= user.firstName %></option>
                  <% } %>
              <% }); %>
            </select>
          </label>
        </div> <!-- end of form-group -->
        <div class="form-group">
            <label name="tracking[buildPkg]">Build Package:
              <select name="tracking[buildPkg]" id="buildPkg">
                  <% if(tracking.buildPkg === "Essential") { %>
                    <option selected value="Essential">Essential</option>
                    <option value="Starter">Starter</option>
                    <% } %>
                  <% if(tracking.buildPkg === "Starter") { %>
                    <option value="Essential">Essential</option>
                    <option selected value="Starter">Starter</option>
                  <% } %>
              </select>
            </label>
            <% if(tracking.buildPkg === "Starter") { %>
            <label name="tracking[starterTemplate]" class="ifStarter">Starter Template:
              <select name="tracking[starterTemplate]">
                <option value="<%= tracking.starterTemplate %>"><%= tracking.starterTemplate %></option>
                <option value="None">None</option>
                <option value="Neverland">Neverland</option>
                <option value="Atlantis">Atlantis</option>
                <option value="Camelot">Camelot</option>
                <option value="Olympus">Olympus</option>
              </select>
            </label>
          </div>
            <div class="form-group" style="display: none;">
                  <label name="tracking[specialFeatures]" class="ifEssential">Special Features:
                    <select name="tracking[specialFeatures]" multiple >
                      <option value="<%= tracking.specialFeatures %>" selected><%= tracking.specialFeatures %></option>
                      <option value=" Breadcrumbs">Breadcrumbs</option>
                      <option value=" Interior Featured Image">Interior Featured Image</option>
                      <option value=" Mega Menu">Mega Menu</option>
                      <option value=" Object Fit">Object Fit</option>
                      <option value=" Shrinky Header">Shrinky Header</option>
                      <option value=" Search Bar">Search Bar</option>
                      <option value=" Scroll Efects">Scroll Effects</option>
                    </select>
                  </label>
                  
                </div> <!-- end of form-group -->
                <div class="form-group">
                      <label name="tracking[domain]">Domain:
                        <input type="text" name="tracking[domain]" value="<%= tracking.domain %>">
                      </label>
                      <label style="display: none" name="cssPath" class="ifEssential toggleEssential">CSS Path:
                            <input type="text" name="tracking[cssPath]" value="<%= tracking.cssPath %>" class="essentialClearInput">
                          </label>
                    </div> <!-- end of form-group -->
            <% } %>
          <% if(tracking.buildPkg === "Essential") { %>
              <label name="tracking[starterTemplate]" class="ifStarter" style="display: none;">Starter Template:
                      <select name="tracking[starterTemplate]">
                        <option value="<%= tracking.starterTemplate %>"><%= tracking.starterTemplate %></option>
                        <option value="None">None</option>
                        <option value="Neverland">Neverland</option>
                        <option value="Atlantis">Atlantis</option>
                        <option value="Camelot">Camelot</option>
                        <option value="Olympus">Olympus</option>
                      </select>
                    </label>
                  </div>
          <div class="form-group">
            <label name="tracking[specialFeatures]" class="ifEssential">Special Features:
              <select name="tracking[specialFeatures]" multiple >
                <option value="<%= tracking.specialFeatures %>" selected><%= tracking.specialFeatures %></option>
                <option value=" Breadcrumbs">Breadcrumbs</option>
                <option value=" Interior Featured Image">Interior Featured Image</option>
                <option value=" Mega Menu">Mega Menu</option>
                <option value=" Object Fit">Object Fit</option>
                <option value=" Shrinky Header">Shrinky Header</option>
                <option value=" Search Bar">Search Bar</option>
                <option value=" Scroll Efects">Scroll Effects</option>
              </select>
            </label>
            
          </div> <!-- end of form-group -->
          <div class="form-group">
                  <label name="tracking[domain]">Domain:
                    <input type="text" name="tracking[domain]" value="<%= tracking.domain %>">
                  </label>
                  <label name="cssPath" class="ifEssential toggleEssential">CSS Path:
                        <input type="text" name="tracking[cssPath]" value="<%= tracking.cssPath %>" class="essentialClearInput">
                      </label>
                </div> <!-- end of form-group -->
        <% } %>

        <script>
            $(document).ready(function(){
                var count = 0;
                $("div.task:first-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
                $("div.task:first-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
                $("div.task:first-of-type input.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");
          
              $("#addTask").click(function () {               
                    count++;        
                    var newTaskInput = $(".task:last-of-type"); 
                    newTaskInput.clone().appendTo("#task"); 
                  $("div.task:last-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
                  $("div.task:last-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
                  $("div.task:last-of-type input.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");
              });
          
              $("#removeTask").click(function () {
                var taskCount = $("div.task").length;
                if (taskCount === 1) {
                  alert("You cannot remove the only task");
                } else {
                  var newTaskInput = $(".task:last-of-type");
                newTaskInput.remove();
                };
              });
            });
          </script>
        <div class="form-group" id="task">
            <label class="labelTask"><h3>Task:</h3></label>
            <button type='button' id='addTask'>+</button>
            <button type='button' id='removeTask'>-</button>
            <% for (i=0; i < tracking.taskTypes.length; i++) { %>
            <div class="task">
                <select class="taskType" name="tracking[taskTypes][i].taskTypeName">
                  <option value="none">None</option>
                    <% if (tracking.taskTypes[i].taskTypeName === "Site Build") { %>
                      <option selected value="Site Build">Site Build</option>
                    <% } else { %>
                      <option value="Site Build">Site Build</option>
                    <% } %>
                    <% if (tracking.taskTypes[i].taskTypeName === "Production Change") { %>
                      <option selected value="Production Change">Production Change</option>
                    <% } else { %>
                      <option value="Production Change">Production Change</option>
                      <% } %>
                    <% if (tracking.taskTypes[i].taskTypeName === "T.LINK Branding") { %>
                      <option selected value="T.LINK Branding">T.LINK Branding</option>
                    <% } else { %>
                      <option value="T.LINK Branding">T.LINK Branding</option>
                    <% } %>
                    <% if (tracking.taskTypes[i].taskTypeName === "Content Entry") { %>
                      <option selected value="Content Entry">Content Entry</option>
                    <% } else { %>
                      <option value="Content Entry">Content Entry</option>
                    <% } %>
                  </select>
                  <select class="taskQuantity">
                      <option selected value="<%= tracking.taskTypes[i].quantity %>"><%= tracking.taskTypes[i].quantity %></option>
                      <% if (tracking.taskTypes[i].quantity === "0 - 15") { %>
                        <option selected value="0 - 15">0 - 15</option>
                      <% } else { %>
                        <option value="0 - 15">0 - 15</option>
                      <% } %>
                      <% if (tracking.taskTypes[i].quantity === "16 - 35") { %>
                        <option selected value="16 - 35">16 - 35</option>
                      <% } else { %>
                        <option value="16 - 35">16 - 35</option>
                        <% } %>
                      <% if (tracking.taskTypes[i].quantity === "36+") { %>
                        <option selected value="36+">36+</option>
                      <% } else { %>
                        <option value="36+">36+</option>
                      <% } %>
                    </select>
              <input class="taskNotes" type="text" value="<%= tracking.taskTypes[i].taskNotes %>">
              
            </div>
            <% } %>
            </div>
          <!-- end of form-group -->
        
        <div class="form-group">
          <label class="labelNotes" name="tracking[notes]">Notes:
            <textarea name="tracking[notes]"><%= tracking.notes %></textarea>
          </label>
        </div> <!-- end of form-group -->
        <button>Update Task</button>
      </form>
      
    </div>
  </div>
</div>
<script>
$(document).ready(function(){


// Logic for hiding/showing tracker form fields
// Hide Special Features, Starter Template and CSS Path inputs initially
// $('.ifEssential').hide();
// $('.ifStarter').hide();

// $(function() {
$('#buildPkg').on('change', function(){
    // If Build Package selection is "Essential" then show Special Features and CSS Path fields
    // Reset to default selection for Starter Template dropdown
    if ($(this).val() === 'Essential'){
    $('.ifEssential').show();
    $('.starterClearInput').prop('selectedIndex',0);
}  
  
else {
    // If "Essential" is not chosen then keep associated fields hidden
    $('.ifEssential').hide();
}

    // If Build Package selection is "Starter" then show Starter Template dropdown
    // Reset to selections/input fields for Special Features and CSS Path
    if ($(this).val() === 'Starter'){
    $('.ifStarter').show();
    $('.essentialClearInput').val("");
}  

else {
    // If "Starter" is not chosen then keep associated fields hidden
    $('.ifStarter').hide();
}
});
});	

// Counts task types on form submit
function countTaskTypes(){
  var count = 0;
  $("div.task").each(function(){
    $(this).find(".taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
    $(this).find(".taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
    $(this).find(".taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");
    count++;
  });
}

// });
</script>
<% include ../partials/footer %>