<% include ../partials/header %>

<style>
	/* The Modal (background) */
.modal {display: none; position: fixed; z-index: 1;	left: 0; top: 0; width: 100%; height: 100%;	overflow: auto; background-color: rgb(0, 0, 0);	background-color: rgba(0, 0, 0, 0.4);}
/* Modal Content/Box */
.modal-content {background-color: transparent; margin: 3% auto; padding: 0; border: none; max-width: 60%;}
/* Exit form */
.form-exit {display: flex; margin: 0;}
/* The Close Button */
.formClose {opacity: 1; text-shadow: none; color: #ada9bb;}
.formClose:hover, .close:focus {color: rgba(0,0,0,0.9);	text-decoration: none; cursor: pointer;}
.formClose:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {color: rgba(0,0,0,0.9)}
#myBtn {margin: 10px 0;	cursor: pointer;}
</style>
<div id="overview" class="center">
	<h1>
		<%= currentUser.team %> Tracker</h1>
	<div class="flexbox flexCenter">
		<a class="myBtn" id="myBtn">Track Something<i class="fas fa-plus"></i></a>
	</div>
	<% if(currentUser.isAdmin || currentUser.isMaster) { %>
	<div style="margin: 20px 0 0;">
		<a href="/tracker/archive">Archives</a>
	</div>
	<% } %>
</div>
<% function countEssential() { %>
<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; var contentCount = 0; %>
<% tracking.forEach(function(tracked){ %>
<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
<% if(currentUser.email === tracked.author.email) { %>
<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% strCount++ %>
<% } %>
<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
<% essCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
<% prodCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
<% tlinkCount++ %>
<% } %>
<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
<% contentCount++ %>
<% } %>
<% } %>
<% } %>
<% }); %>
<div id="dashboard">
	<div class="container">
		<h3 class="pageHeader" style="text-align: center; margin-top: 10px;">
			<%= currentUser.firstName %>, this is where you will track any of your completed tasks. </h3>
		<ul style="text-align: center; margin: 20px 0 0;" class="buttons flexbox flexCenter">
			<li><a href="#" class="showEssentials myBtn">Essentials:
					<%= essCount %></a></li>
			<li><a href="#" class="showStarter myBtn">Starters:
					<%= strCount %></a></li>
			<li><a href="#" class="showProd myBtn">Prod Change:
					<%= prodCount %></a></li>
			<li><a href="#" class="showTlink myBtn">T.LINK Branding:
					<%= tlinkCount %></a></li>
			<li><a href="#" class="showContent myBtn">Content Entry:
					<%= contentCount %></a></li>
			<li><a href="#" class="showAll myBtn">Show All</a></li>
		</ul>
		<div class="developer flexbox flexLeft">
			<div class="selectTeamMember">
				<dl class="dropdown">
					<dt> <a>
							<h4 class="activeUser">
								<%= currentUser.firstName %>
							</h4>
							<i class="fas fa-angle-down"></i>
						</a> </dt>
					<dd>
						<ul id="allTeamMembers">
							<li><a>All</a></li>
							<% users.forEach(function(user){ %>
							<% if(user.team == 'Developer') { %>
							<li><a>
									<%= user.firstName %></a></li>
							<% } %>
							<% }); %>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		<div id="bottomRow" class="flexbox">
			<div class="widget fullCol">
				<div id="dashEssential">
					<h2>Essential Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber"><a href="/tracker/<%= tracked._id %>">
										<%= tracked.acctNum %></a></div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Home Screenshot:</strong> <a href="<%= tracked.homeSS %>" target="_blank">
											<%= tracked.homeSS %></a> </p>
									<p><strong>Interior Screenshot:</strong> <a href="<%= tracked.interiorSS %>" target="_blank">
											<%= tracked.interiorSS %></a></p>
									<p><strong>Special Features:</strong>
										<%= tracked.specialFeatures %>
									</p>
									<p><strong>CSS Path:</strong>
										<%= tracked.cssPath %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %> /
											<%= tracked.taskTypes[i].quantity %> /
											<%= tracked.taskTypes[i].taskNotes %>
										</li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit" class="edit">Edit Task</a>

										<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
											<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
										</form> -->
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
											<button class="archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
										</form>
										<script>
											$(document).ready(function () {
												$("#delete-form button.archiveButton").click(function () {
													$("#delete-form button.archiveButton").each(function () {
														$(this).val("true");
													});
												});
											}); 
										</script>
									</div>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% } %>
							<% }; %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashEssential -->
				<div id="dashStarter">
					<h2>Starter Builds</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber"><a href="/tracker/<%= tracked._id %>">
										<%= tracked.acctNum %></a></div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Starter Template:</strong>
										<%= tracked.starterTemplate %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %> /
											<%= tracked.taskTypes[i].quantity %> /
											<%= tracked.taskTypes[i].taskNotes %>
										</li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit" class="edit">Edit Task</a>

										<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
											<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
										</form> -->
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
											<button class="archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
										</form>
										<script>
											$(document).ready(function () {
												$("#delete-form button.archiveButton").click(function () {
													$("#delete-form button.archiveButton").each(function () {
														$(this).val("true");
													});
												});
											}); 
										</script>
									</div>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% }; %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashStarter -->
				<div id="dashProd">
					<h2>Prod Changes</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Production Change" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber"><a href="/tracker/<%= tracked._id %>">
										<%= tracked.acctNum %></a></div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %> /
											<%= tracked.taskTypes[i].quantity %> /
											<%= tracked.taskTypes[i].taskNotes %>
										</li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit" class="edit">Edit Task</a>

										<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
											<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
										</form> -->
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
											<button class="archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
										</form>
										<script>
											$(document).ready(function () {
												$("#delete-form button.archiveButton").click(function () {
													$("#delete-form button.archiveButton").each(function () {
														$(this).val("true");
													});
												});
											}); 
										</script>
									</div>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashProd -->
				<div id="dashTlink">
					<h2>T.LINK Branding</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber"><a href="/tracker/<%= tracked._id %>">
										<%= tracked.acctNum %></a></div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %> /
											<%= tracked.taskTypes[i].quantity %> /
											<%= tracked.taskTypes[i].taskNotes %>
										</li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit" class="edit">Edit Task</a>

										<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
											<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
										</form> -->
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
											<button class="archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
										</form>
										<script>
											$(document).ready(function () {
												$("#delete-form button.archiveButton").click(function () {
													$("#delete-form button.archiveButton").each(function () {
														$(this).val("true");
													});
												});
											}); 
										</script>
									</div>
								</div>
								<!-- end of expanded -->
							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashTlink -->
				<div id="dashContent">
					<h2>Content</h2>
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">
							<% tracking.forEach(function(tracked){ %>
							<% if(currentUser.email === tracked.author.email) { %>
							<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
							<% if(tracked.taskTypes[i].taskTypeName === "Content Entry" && tracked.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracked.domain %>" target="_blank">
										<%= tracked.domain %></a></div>
								<div class="cell actNumber"><a href="/tracker/<%= tracked._id %>">
										<%= tracked.acctNum %></a></div>
								<div class="cell name">
									<%= tracked.designer %>
								</div>
								<div class="cell name">
									<%= tracked.onboarder %>
								</div>
								<div class="cell date">
									<%= moment(tracked.created_at).format('MMM DD, YYYY') %>
								</div>
								<div class="cell arrow" data-panel-id="panel2"><i class="fas fa-angle-down"></i></div>
								<div class="expanded" style="display:none">
									<p><strong>Build Package:</strong>
										<%= tracked.buildPkg %>
									</p>
									<p><strong>Server:</strong>
										<%= tracked.server %>
									</p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<li>
											<%= tracked.taskTypes[i].taskTypeName %> /
											<%= tracked.taskTypes[i].quantity %> /
											<%= tracked.taskTypes[i].taskNotes %>
										</li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong>
										<%= tracked.notes %>
									</p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracked._id %>/edit" class="edit">Edit Task</a>

										<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
											<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
										</form> -->
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
											<button class="archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
										</form>
										<script>
											$(document).ready(function () {
												$("#delete-form button.archiveButton").click(function () {
													$("#delete-form button.archiveButton").each(function () {
														$(this).val("true");
													});
												});
											}); 
										</script>
									</div>
								</div>
								<!-- end of expanded -->

							</div>
							<% } %>
							<% } %>
							<% } %>
							<% }); %>
						</div>
					</div>
				</div>
				<!-- end of dashContent -->
			</div>
			<% } %>
			<% countEssential(); %>
		</div>
		<!-- end statsContainer -->
	</div>
	<!-- end stats -->
</div>
<div id="tracker">
	<div class="trackerContainer">
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div>
					<form class="form trackerForm" action="/tracker" method="POST">
						<section class="header flexbox flexJustify">
							<h2>Tracker Form</h2>
							<div class="form-exit"> <span class="formClose"><i class="fas fa-times"></i></span></div>
						</section>
						<div class="wrapper">
							<section class="date">
								<div class="flexbox flexJustify">
									<label for="username">
										<div class="flexbox alignCenter"> <span>Developer:</span>
											<input type="text" id="text" value="<%= currentUser.firstName %>" name="teamTrack[username]">
										</div>
									</label>
									<div class="acctNumber">
										<label for="acctNum">
											<div class="flexbox alignCenter"><span>Account Number:</span>
												<input required="" type="number" placeholder="######" id="number" name="teamTrack[acctNum]" min="1" max="999999">
											</div>
										</label>
									</div>
								</div>

								<div class="selectBox flexbox flexJustify alignCenter">
									<label class="flexItem" for="designer">
										<div class="flexbox alignCenter"> <span>Designer:</span>
											<div class="customSelect">
												<select required id="designer" name="teamTrack[designer]">
													<option value="" disabled="" selected="" hidden>Select Designer</option>
													<option value="">N/A</option>
													<!-- If site is a Starter -->
													<% users.forEach(function(user){ %>
													<% if(user.team == 'Designer') { %>
													<option name="designer" value="<%= user.firstName %>">
														<%= user.firstName %>
													</option>
													<% } %>
													<% }); %>
												</select>
											</div>
										</div>
									</label>
									<label class="flexItem" for="onboarder">
										<div class="flexbox alignCenter"> <span>On-Boarder:</span>
											<div class="customSelect">
												<select id="onboarder" name="teamTrack[onboarder]">
													<option value="" disabled="" selected="">Select On-Boarder</option>
													<% users.forEach(function(user){ %>
													<% if(user.team == 'On-Boarder') { %>
													<option name="onboarder" value="<%= user.firstName %>">
														<%= user.firstName %>
													</option>
													<% } %>
													<% }); %>
												</select>
											</div>
										</div>
									</label>
								</div>
							</section>
							<section>
								<label name="domain"> <span>Domain:</span>
									<input name="teamTrack[domain]" placeholder="Domain" type="text">
								</label>
								<div class="selectBox flexbox flexJustify alignCenter">
									<label class="flexItem" for="buildPkg">
										<div class="flexbox alignCenter"> <span>Build Package:</span>
											<div class="customSelect">
												<select name="teamTrack[buildPkg]" id="buildPkg">
													<option value="" disabled selected>Select Build Package</option>
													<option value="Essential">Essential</option>
													<option value="Starter">Starter</option>
												</select>
											</div>
										</div>
									</label>
									<label class="flexItem" for="server">
										<div class="flexbox alignCenter"> <span>Server:</span>
											<div class="customSelect">
												<select id="server" name="teamTrack[server]">
													<option value="" disabled="" selected="">Select Server</option>
													<option value="Presence">Presence</option>
													<option value="DNN">DNN</option>
													<option value="T.LINK">T.LINK</option>
												</select>
											</div>
										</div>
									</label>
								</div>
								<div class="starter">

									<!-- If site is a Starter -->
									<label for="starterTemplate" class="ifStarter">
										<span>Starter Template:</span>
										<div class="customSelect">
											<select id="starterTemplate" class="starterClearInput" name="teamTrack[starterTemplate]">
												<option value="" disabled="" selected="">Select Template</option>
												<option value="Atlantis">Atlantis</option>
												<option value="Camelot">Camelot</option>
												<option value="Neverland">Neverland</option>
												<option value="Olympus">Olympus</option>
											</select>
										</div>
									</label>
								</div>
								<div class="essential">

									<!-- If site is an Essential -->
									<div class="ifEssential">
										<div class="selectBox flexbox flexJustify alignCenter">
											<label class="flexItem" name="homeSS"> <span>Home Screenshot:</span>
												<input name="teamTrack[homeSS]" placeholder="Home ScreenShot Url" type="text">
											</label>
											<label class="flexItem" name="interiorSS"> <span>Interior Screenshot:</span>
												<input name="teamTrack[interiorSS]" placeholder="Interior ScreenShot Url" type="text">
											</label>
										</div>
										<label><span>Special Features:</span> </label>
										<div class="customCheck flexbox">
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Breadcrumbs" type="checkbox">
												<i></i><span>Breadcrumbs</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Fixed Header" type="checkbox">
												<i></i><span>Fixed Header</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Interior Featured Image" type="checkbox">
												<i></i><span>Interior Featured Image</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Mega Menu" type="checkbox">
												<i></i><span>Mega Menu</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Object Fit" type="checkbox">
												<i></i><span>Object Fit</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Search Bar" type="checkbox">
												<i></i><span>Search Bar</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Scroll Effects" type="checkbox">
												<i></i><span>Scroll Effects</span></label>
											<label class="checkbox">
												<input name="teamTrack[specialFeatures]" value=" Shrinky Header" type="checkbox">
												<i></i><span>Shrinky Header</span></label>
										</div>

										<!-- If site is an Essential -->
										<label name="cssPath"> <span>CSS Path:</span>
											<input name="teamTrack[cssPath]" placeholder="CSS Path" class="essentialClearInput" type="text">
										</label>
									</div>
								</div>
							</section>
							<section>
								<div id="task">
									<div class="taskTable">
										<div class="header flexbox">
											<div class="cell type">Task</div>
											<div class="cell quantity">Quantity</div>
											<div class="cell notes">Notes</div>
										</div>
										<div class="task">
											<div class="row flexbox">
												<div class="cell type">
													<div class="customSelect">
														<select class="taskType">
															<option value="" selected disabled>Please Select a Task</option>
															<option value="Content Entry">Content Entry</option>
															<option value="Production Change">Production Change</option>
															<option value="Site Build">Site Build</option>
															<option value="T.LINK Branding">T.LINK Branding</option>
														</select>
													</div>
												</div>
												<div class="cell quantity">
													<div class="customSelect">
														<select class="taskQuantity">
															<option value="N/A">N/A</option>
															<option value="0 - 15">0 - 5</option>
															<option value="6 - 15">6 - 10</option>
															<option value="11 - 15">11 - 15</option>
															<option value="16 - 20">16 - 20</option>
															<option value="21 - 25">21 - 25</option>
															<option value="26+">26+</option>
														</select>
													</div>
												</div>
												<div class="cell notes">
													<textarea class="taskNotes" placeholder="Notes" onkeyup="adjust_textarea(this)"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="taskButtons flexbox flexRight">
									<button type="button" id="addTask">Add <i class="fas fa-plus"></i></button>
									<button type="button" id="removeTask">Remove <i class="fas fa-minus"></i></button>
								</div>
							</section>
							<section>
								<label for="notes" class="labelNotes"> <span>Notes:</span>
									<textarea name="teamTrack[notes]" onkeyup="adjust_textarea(this)"></textarea>
								</label>
								<button type="submit">Submit</button>
							</section>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function adjust_textarea(h) {
		h.style.height = "20px";
		h.style.height = (h.scrollHeight) + "px";
	}
	// Get the tracker modal
	var modal = document.getElementById('myModal');
	var btn = document.getElementById("myBtn");
	var span = document.getElementsByClassName("formClose")[0];
	// When the user clicks on the button, open the modal 
	btn.onclick = function () {
		modal.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
	span.onclick = function () {
		modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	// Name field for tasktypes
	$(document).ready(function () {
		var count = 0;
		$("div.task div.row:first-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
		$("div.task div.row:first-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
		$("div.task div.row:first-of-type textarea.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");

		$("#addTask").click(function () {
			count++;
			var newTaskInput = $(".task .row:last-of-type");
			newTaskInput.clone().appendTo(".task");
			$("div.task div.row:last-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
			$("div.task div.row:last-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
			$("div.task div.row:last-of-type textarea.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");
		});

		$("#removeTask").click(function () {
			var taskCount = $("div.task div.row").length;
			if (taskCount === 1) {
				alert("You cannot remove the only task");
			} else {
				var newTaskInput = $(".task .row:last-of-type");
				newTaskInput.remove();
			};
		});
	});

	// Hide Special Features, Starter Template and CSS Path inputs initially
	$('.ifEssential').hide();
	$('.ifStarter').hide();

	$(function () {
		$('#buildPkg').on('change', function () {
			// If Build Package selection is "Essential" then show Special Features and CSS Path fields
			// Reset to default selection for Starter Template dropdown
			if ($(this).val() === 'Essential') {
				$('.ifEssential').show();
				$('.starterClearInput').prop('selectedIndex', 0);
			}
			else {
				// If "Essential" is not chosen then keep associated fields hidden
				$('.ifEssential').hide();
			}
			// If Build Package selection is "Starter" then show Starter Template dropdown
			// Reset to selections/input fields for Special Features and CSS Path
			if ($(this).val() === 'Starter') {
				$('.ifStarter').show();
				$('.essentialClearInput').val("");
			}

			else {
				// If "Starter" is not chosen then keep associated fields hidden
				$('.ifStarter').hide();
			}
		});
	});


	// list of team members drop down when you click the purple arrow beside your name
	$('.selectTeamMember .fa-angle-down').click(function () {
		event.preventDefault();
		$('#allTeamMembers').slideToggle();
	});

	// when you click the purple arrow beside a task it expands for further info
	$('#accordion .fa-angle-down').click(function () {
		event.preventDefault();
		$(this).parent().next('.expanded').slideToggle();
	});

	// when you click on essentials circle it shows tracked essential tasks
	$('.showEssentials').click(function () {
		event.preventDefault();
		$('#dashStarter, #dashTlink, #dashProd, #dashContent').hide();
		$('#bottomRow, #dashEssential').fadeIn("slow");
	});
	// when you click on essentials circle it shows tracked starter tasks
	$('.showStarter').click(function () {
		event.preventDefault();
		$('#dashEssential, #dashTlink, #dashProd, #dashContent').hide();
		$('#bottomRow, #dashStarter').fadeIn("slow");
	});
	// when you click on essentials circle it shows tracked starter tasks
	$('.showProd').click(function () {
		event.preventDefault();
		$('#dashTlink, #dashEssential, #dashContent, #dashStarter').hide();
		$('#bottomRow, #dashProd').fadeIn("slow");
	});
	// when you click on essentials circle it shows tracked starter tasks
	$('.showTlink').click(function () {
		event.preventDefault();
		$('#dashProd, #dashEssential, #dashContent, #dashStarter').hide();
		$('#bottomRow, #dashTlink').fadeIn("slow");
	});
	// when you click on essentials circle it shows tracked starter tasks
	$('.showContent').click(function () {
		event.preventDefault();
		$('#dashProd, #dashEssential, #dashTlink, #dashStarter').hide();
		$('#bottomRow, #dashContent').fadeIn("slow");
	});
	$('.showAll').click(function () {
		event.preventDefault();
		// $('#dashProd, #dashEssential, #dashTlink, #dashStarter').hide();
		$('#dashProd, #dashEssential, #dashTlink, #dashStarter, #dashContent').fadeIn("slow");
	});

	function SetDate() {
		var date = new Date();

		var day = date.getDate();
		var month = date.getMonth() + 1;
		var year = date.getFullYear();

		if (month < 10) month = "0" + month;
		if (day < 10) day = "0" + day;

		var today = year + "-" + month + "-" + day;


		document.getElementById('myDate').value = today;
	}

	$(document).ready(function () {
		SetDate();
	});
</script>
<% include ../partials/footer %>