<% include ../partials/header %>
  <style>
    /* The Modal (background) */
    .modal {display: none; position: fixed; z-index: 1;	left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0);	background-color: rgba(0, 0, 0, 0.7);}
    /* Modal Content/Box */
    .modal-content {background-color: transparent; margin: 3% auto; padding: 0; border: none; max-width: 60%;}
    /* Exit form */
    .form-exit {display: flex; font-size: 1em; margin: 0 0 10px;}
    /* The Close Button */
    .close {opacity:1; color: rgba(0,0,0,0.6); font-size: 3em; font-weight: bold; text-align: right; float:none; width:100%; line-height:.5em; text-shadow:none;}
    .close:hover, .close:focus {color: rgba(0,0,0,0.9); text-decoration: none; cursor: pointer;}
    .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {color:rgba(0,0,0,0.9)}
    #myBtn {margin: 10px 0;}
	</style>

<a href="/dashboard">&larr; Back to Dashboard</a><br />
<br />
<h3 class="pageHeader">
	<%= currentUser.firstName %>, this is where you will track any of your completed tasks.
</h3>
<div id="tracker">
	<div class="trackerContainer"> 
		<!-- Trigger/Open The Modal -->
			<button id="myBtn" class="btn btn-md btn-primary">Track Something</button>
		
		<!-- The Modal -->
		<div id="myModal" class="modal"> 
			<!-- Modal content -->
			<div class="modal-content">
				<div>
					<form class="trackerForm" action="/tracker" method="POST">
						<div class="form-exit"> <span class="close">&times;</span></div>
						<div class="form-group">
							<label name="date">Date:
								<input type="date" name="teamTrack[date]" />
							</label>
							<label name="acctNum" />Account Number:
								<input type="number" required name="teamTrack[acctNum]" placeholder="######" >
							</label>
						</div><!-- end of form-group -->
						
						<div class="form-group">
							<label name="username">Developer:
								<input type="text" name="teamTrack[username]" value="<%= currentUser.firstName %>" />
							</label>
						</div><!-- end of form-group -->
						
						<div class="form-group">
							<label name="designer">Designer:
								<select name="teamTrack[designer]" id="designer">
									<option value="Select Designer" selected>Select Designer</option>
									<option value="">N/A</option>
									<!-- If site is a Starter -->
									<% users.forEach(function(user){ %>
										<% if(user.team == 'Designer') { %>
											<option name="designer" value="<%= user.firstName %>"><%= user.firstName %></option>
										<% } %>
									<% }); %>
								</select>
							</label>
							<label name="onboarder">On-Boarder:
								<select name="teamTrack[onboarder]">
									<option value="Select On-Boarder" selected>Select On-Boarder</option>
									<% users.forEach(function(user){ %>
										<% if(user.team == 'On-Boarder') { %>
											<option name="onboarder" value="<%= user.firstName %>"><%= user.firstName %></option>
										<% } %>
									<% }); %>
								</select>
							</label>
						</div><!-- end of form-group -->
						
						<div class="form-group">
							<label name="buildPkg">Build Package:
								<select name="teamTrack[buildPkg]" id="buildPkg">
									<option value="" disabled selected>Select Build Package</option>
									<option value="Essential">Essential</option>
									<option value="Starter">Starter</option>
								</select>
							</label>
							<label name="starterTemplate" class="ifStarter">Starter Template:
								<select name="teamTrack[starterTemplate]" class="starterClearInput">
									<option value="" disabled>Select Template</option>
									<option value="Neverland">Neverland</option>
									<option value="Atlantis">Atlantis</option>
									<option value="Camelot">Camelot</option>
									<option value="Olympus">Olympus</option>
								</select>
							</label>
						</div><!-- end of form-group -->
						
						<div class="form-group">
							<label name="specialFeatures" class="ifEssential">Special Features:
								<select name="teamTrack[specialFeatures]" class="essentialClearInput" multiple>
									<option value="" disabled>Select Features</option>
									<option value=" None">None</option>
									<option value=" Breadcrumbs">Breadcrumbs</option>
									<option value=" Interior Featured Image">Interior Featured Image</option>
									<option value=" Mega Menu">Mega Menu</option>
									<option value=" Object Fit">Object Fit</option>
									<option value=" Shrinky Header">Shrinky Header</option>
									<option value=" Search Bar">Search Bar</option>
									<option value=" Scroll Efects">Scroll Effects</option>
								</select>
							</label>
						</div><!-- end of form-group -->
						
						<div class="form-group">
							<label name="domain">Domain:
								<input type="text" name="teamTrack[domain]" placeholder="Domain">
							</label>
							<label name="cssPath" class="ifEssential">CSS Path:
								<input type="text" name="teamTrack[cssPath]" placeholder="CSS Path" class="essentialClearInput">
							</label>
						</div><!-- end of form-group -->
						
<script>
$(document).ready(function(){
    var count = 0;
    $("div.task:first-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
    $("div.task:first-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
    $("div.task:first-of-type input.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");

$("#addTask").click(function () {               
        count++;        
        var newTaskInput = $(".task:last-of-type"); 
        newTaskInput.clone().appendTo("#task"); 
    $("div.task:last-of-type select.taskType").attr("name", "teamTrack[taskTypes][" + count + "][taskTypeName]");
    $("div.task:last-of-type select.taskQuantity").attr("name", "teamTrack[taskTypes][" + count + "][quantity]");
    $("div.task:last-of-type input.taskNotes").attr("name", "teamTrack[taskTypes][" + count + "][taskNotes]");

});

});
    
</script>
						<div class="form-group" id="task">
							<label class="labelTask" name="taskTypeName"><h3>Task:</h3></label>
							<button type='button' id='addTask'>+</button>
							<div class="task">
								<select class="taskType">
									<option value="Site Build">Site Build</option>
									<option value="Production Change">Production Change</option>
									<option value="T.LINK Branding">T.LINK Branding</option>
								</select>
								<select class="taskQuantity">
									<option value="0 - 15">0 - 15</option>
									<option value="16 - 35">16 - 35</option>
									<option value="36+">36+</option>
								</select>
								<input class="taskNotes" type="text" placeholder="Notes">
							</div>
						</div>
						<!-- end of form-group -->
						
						<div class="form-group">
							<label class="labelNotes" name="notes">Notes:
								<textarea name="teamTrack[notes]"></textarea>
							</label>
						</div>
						<!-- end of form-group -->
						<button>Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<% function countEssential() { %>
		<% var essCount = 0; var strCount = 0; var prodCount = 0; var tlinkCount = 0; %>
			<% tracking.forEach(function(tracked){ %>
				<%	for(var i = 0; i < tracked.taskTypes.length; i++){ %>
				<% if(currentUser.firstName === tracked.author.firstName) { %>
					<% if(tracked.buildPkg === "Starter" && tracked.taskTypes[i].taskTypeName === "Site Build"){ %>
						<% strCount++ %>
					<% } %> 
					<% if(tracked.buildPkg === "Essential" && tracked.taskTypes[i].taskTypeName === "Site Build"){ %>
						<% essCount++ %>
					<% } %>
					<% if(tracked.taskTypes[i].taskTypeName === "Production Change"){ %>
						<% prodCount++ %>
					<% } %>
					<% if(tracked.taskTypes[i].taskTypeName === "T.LINK Branding"){ %>
						<% tlinkCount++ %>
					<% } %>
				<% } %>
				<% } %>
			<% }); %>
	</p>
	<h3>Edit your tracks from this month below:</h3>
	<div id="stats">
			<h4>Essentials: <%= essCount %> | Starters: <%= strCount %> | Prod Change: <%= prodCount %> | T.LINK Branding: <%= tlinkCount %></h4>
		<div id="essTracked">
			<% tracking.forEach(function(tracked){ %>
				<% if(currentUser.firstName === tracked.author.firstName) { %>
					<% if(tracked.buildPkg === "Essential"){ %>
					<div class="col-md-12">
						<div id="tracked">
							<p><strong>Name:</strong> <%= tracked.author.firstName %></p>
							<p><strong>Completed:</strong> <%= tracked.date %></p>
							<p><strong>Acct #:</strong> <%= tracked.acctNum %></p>
							<p><strong>On-Boarder:</strong> <%= tracked.onboarder %></p>
							<p><strong>Package:</strong> <%= tracked.buildPkg %></p>
							<p><strong>Designer:</strong> <%= tracked.designer %></p>
							<p><strong>Special Features:</strong> <%= tracked.specialFeatures %></p>
							<p><strong>CSS Path:</strong> <%= tracked.cssPath %></p>
							<p><strong>Domain:</strong> <%= tracked.domain %></p>
							<div><strong>Task:</strong> 
								<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
									<p><%= tracked.taskTypes[i].taskTypeName %> / <%= tracked.taskTypes[i].quantity %> / <%= tracked.taskTypes[i].taskNotes %></p>
								<% }; %>
							</div>	 
							<p><strong>Notes:</strong> <%= tracked.notes %></p>	
							<div>
								<a href="/tracker/<%= tracked._id %>/edit"><button class="btn btn-xs btn-primary">Edit Task</button></a>
								
								<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
									<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
								</form> -->
								<form id="delete-form" onsubmit="archiveUpdate()" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
									<input id="archiveButton" value="Archive" name="tracking[archive]" type="submit"/>			
								  </form>
							</div>  
						</div>
					</div>
					<% } %>
				<% } %>
			<% }); %>
		</div>
		<div id="strTracked">
			<% tracking.forEach(function(tracked){ %>
				<% if(currentUser.firstName === tracked.author.firstName) { %>
					<% if(tracked.buildPkg === "Starter"){ %>
						<div class="col-md-12">
							<div id="tracked">
								<p><strong>Name:</strong> <%= tracked.author.firstName %></p>
								<p><strong>Completed:</strong> <%= tracked.date %></p>
								<p><strong>Acct #:</strong> <%= tracked.acctNum %></p>
								<p><strong>On-Boarder:</strong> <%= tracked.onboarder %></p>
								<p><strong>Package:</strong> <%= tracked.buildPkg %></p>
								<p><strong>Starter Template:</strong> <%= tracked.starterTemplate %></p>
								<p><strong>Domain:</strong> <%= tracked.domain %></p>
								<div><strong>Task:</strong> 
									<% for(i = 0; i < tracked.taskTypes.length; i++) { %>
										<p><%= tracked.taskTypes[i].taskTypeName %> / <%= tracked.taskTypes[i].quantity %> / <%= tracked.taskTypes[i].taskNotes %></p>
									<% }; %>
								</div>	 
								<p><strong>Notes:</strong> <%= tracked.notes %></p>	
								<p><%= tracked.archive %></p>
								<div>
									<a href="/tracker/<%= tracked._id %>/edit"><button class="btn btn-xs btn-primary">Edit Task</button></a>
									
									<form id="delete-form" onsubmit="archiveUpdate()" class="trackerForm" action="/tracker/<%= tracked._id %>?_method=PUT" method="POST">
										<input id="archiveButton" value="Archive" name="tracking[archive]" type="submit"/>		
									  </form>
									<!-- <form id="delete-form" action="/tracker/<%= tracked._id %>?_method=DELETE" method="POST">
									<button name="realDelete" disabled type="submit" class="btn btn-xs btn-danger realDelete">Delete</button>
								</form> -->
								</div>  
								<script>

									function archiveUpdate() {
										$("#archiveButton").attr("value", true);	
									}
								</script>
							</div>
						</div>
					<% } %>
				<% } %>
			<% }); %>
		</div>
		<% } %>
		<% countEssential(); %>
	</div>
</div>

<script>
// Get the tracker modal
var modal = document.getElementById('myModal');
// Get the tracker success modal
//var trackerSuccessModal = document.getElementById('trackerSuccessModal');
// Get the button that opens the tracker modal
var btn = document.getElementById("myBtn");
// Get the button that submits the tracker modal
//var modalBtn = document.getElementById("modalBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on the button, open the modal 
btn.onclick = function () {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function () {
  modal.style.display = "none";
}
// When the user clicks on the submit button, open the tracker success modal
/*modalBtn.onclick = function() {
  modal.style.display = "none";
  trackerSuccessModal.style.display = "block";
}*/
// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
// Logic for hiding/showing tracker form fields
// Hide Special Features, Starter Template and CSS Path inputs initially
$('.ifEssential').hide();
$('.ifStarter').hide();

$(function() {
	$('#buildPkg').on('change', function(){
		// If Build Package selection is "Essential" then show Special Features and CSS Path fields
		// Reset to default selection for Starter Template dropdown
		if ($(this).val() === 'Essential'){
			$('.ifEssential').show();
			$('.starterClearInput').prop('selectedIndex',0);
		}
  
		else {
			// If "Essential" is not chosen then keep associated fields hidden
			$('.ifEssential').hide();
		}

    // If Build Package selection is "Starter" then show Starter Template dropdown
    // Reset to selections/input fields for Special Features and CSS Path
    if ($(this).val() === 'Starter'){
    $('.ifStarter').show();
    $('.essentialClearInput').val("");
}  

else {
    // If "Starter" is not chosen then keep associated fields hidden
    $('.ifStarter').hide();
}
});
});
</script>



<% include ../partials/footer %>
