<% include ../partials/header %>
<div id="overview" class="center">
    <h1><%= currentUser.team %> Tracker Show Page</h1>
</div>
<div class="container">
		<h3 class="pageHeader" style="text-align: center; margin: 10px 0 20px;">You are looking at Tracked Item for <strong><a href="<%= tracking.domain %>" target="_blank"><%= tracking.domain %></a></strong></h3>
		<% if (tracking.history.length > 0){ %>
		<% var indexLength = tracking.history.length %>
		<h4><strong>Last Modified By: </strong><%= tracking.history[indexLength - 1].historyName %><br />
			<strong>Last Modified Time: </strong><%= tracking.history[indexLength - 1].time %></h4>
			<br />
			<br />	
		<% } %>
<div id="bottomRow" class="flexbox">
         <div class="widget fullCol">
				<div id="dashEssentials">			
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">				

							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracking.domain %>" target="_blank"><%= tracking.domain %></a></div>
								<div class="cell actNumber"><%= tracking.acctNum %></div>
								<div class="cell name"><%= tracking.designer %></div>
								<div class="cell name"><%= tracking.onboarder %></div>
								<div class="cell date"><%= tracking.date %></div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded">
									<p><strong>Developer:</strong> <%= tracking.author.firstName %> </p>
									<p><strong>Build Package:</strong> <%= tracking.buildPkg %> </p>
										<% if(tracking.buildPkg === "Essential") { %>
											<p><strong>Special Features:</strong> <%= tracking.specialFeatures %> </p>
											<p><strong>CSS Path:</strong> <%= tracking.cssPath %></p>
											<p><strong>Home Screenshot:</strong> <a href="<%= tracking.homeSS %>" target="_blank"><%= tracking.homeSS %></a> </p>
											<p><strong>Interior Screenshot:</strong> <a href="<%= tracking.interiorSS %>" target="_blank"><%= tracking.interiorSS %></a></p>
										<% } %>
										<% if(tracking.buildPkg === "Starter") { %>
											<p><strong>Starter Template:</strong> <%= tracking.starterTemplate %> </p>
										<% } %>
									<p><strong>Server:</strong> <%= tracking.server %> </p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracking.taskTypes.length; i++) { %>
										<li><%= tracking.taskTypes[i].taskTypeName %> / <%= tracking.taskTypes[i].quantity %> / <%= tracking.taskTypes[i].taskNotes %></li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong> <%= tracking.notes %></p>
									<p><strong>Archived:</strong> <%= tracking.archive %></p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracking._id %>/edit"><button class="btn edit">Edit Task</button></a>
										<% if(tracking.archive === !true) { %>
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracking._id %>?_method=PUT" method="POST"> 
											<button class="btn archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
									   </form> 
									   <% } %>
									   <% if(tracking.archive === true) { %>
										<form id="archive-form" class="trackerForm" action="/tracker/<%= tracking._id %>?_method=PUT" method="POST"> 
											<button class="btn archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Un-Archive</button>
									   </form> 
									   <% } %>
									   <script> 
										$(document).ready(function(){
									    	$("#delete-form button.archiveButton").click(function(){
										    	$("#delete-form button.archiveButton").each(function(){
											    	$(this).val("true");
												});
											});
											$("#archive-form button.archiveButton").click(function(){
											$("#archive-form button.archiveButton").each(function(){
													$(this).val("false");
												});
											});
										}); 
										</script>
									</div> 
								</div>
								<!-- end of expanded --> 								
							</div>
							
						</div>
					</div>
				</div>
            </div>
</div>
</div>
<script>
// when you click the purple arrow beside a task it expands for further info
$('#accordion .fa-angle-down').click(function() {
	$(this).parent().next('.expanded').slideToggle();
});
</script>
<% include ../partials/footer %>