<% include ../partials/header %>
<div id="overview" class="center">
    <h1><%= currentUser.team %> Tracker Show Page</h1>
</div>
<div class="container">
<div id="bottomRow" class="flexbox">
    <% if(currentUser.firstName === tracking.author.firstName) { %> 
        <div class="widget fullCol">
				<div id="dashEssentials">			
					<div class="table">
						<div class="row title flexbox">
							<div class="cell url">Website URL</div>
							<div class="cell actNumber">Account Number</div>
							<div class="cell name">Designer</div>
							<div class="cell name">OnBoarder</div>
							<div class="cell date">Date</div>
							<div class="cell arrow"></div>
						</div>
						<div id="accordion">				
							<% if(currentUser.firstName === tracking.author.firstName) { %>
							<% if(tracking.archive == !true){ %>
							<div class="row flexbox">
								<div class="cell url"><a href="<%= tracking.domain %>" target="_blank"><%= tracking.domain %></a></div>
								<div class="cell actNumber"><%= tracking.acctNum %></div>
								<div class="cell name"><%= tracking.designer %></div>
								<div class="cell name"><%= tracking.onboarder %></div>
								<div class="cell date"><%= tracking.date %></div>
								<div class="cell arrow" data-panel-id="panel1"><i class="fas fa-angle-down"></i></div>
								<div class="expanded">
									<p><strong>Developer:</strong> <%= tracking.author.firstName %> </p>
									<p><strong>Build Package:</strong> <%= tracking.buildPkg %> </p>
										<% if(tracking.buildPkg === "Essential") { %>
											<p><strong>Special Features:</strong> <%= tracking.specialFeatures %> </p>
											<p><strong>CSS Path:</strong> <%= tracking.cssPath %></p>
										<% } %>
										<% if(tracking.buildPkg === "Starter") { %>
											<p><strong>Starter Template:</strong> <%= tracking.starterTemplate %> </p>
										<% } %>
									<p><strong>Server:</strong> <%= tracking.server %> </p>
									<p><strong>Task:</strong></p>
									<ul>
										<% for(i = 0; i < tracking.taskTypes.length; i++) { %>
										<li><%= tracking.taskTypes[i].taskTypeName %> / <%= tracking.taskTypes[i].quantity %> / <%= tracking.taskTypes[i].taskNotes %></li>
										<% }; %>
									</ul>
									<p><strong>Notes:</strong> <%= tracking.notes %></p>
									<div id="trackerBtn">
										<a href="/tracker/<%= tracking._id %>/edit"><button class="btn edit">Edit Task</button></a>
										<form id="delete-form" class="trackerForm" action="/tracker/<%= tracking._id %>?_method=PUT" method="POST"> 
											<button class="btn archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Archive</button>
									   </form> 
									   <script> 
										$(document).ready(function(){
									    	$("#delete-form button.archiveButton").click(function(){
										    	$("#delete-form button.archiveButton").each(function(){
											    	$(this).val("true");
												});
											});
										}); 
										</script>
									</div> 
								</div>
								<!-- end of expanded --> 								
							</div>
							<% } %>
							<% } %>	
						</div>
					</div>
				</div>
            </div>
        <% } %>
</div>
</div>
<script>
// when you click the purple arrow beside a task it expands for further info
$('#accordion .fa-angle-down').click(function() {
	$(this).parent().next('.expanded').slideToggle();
});
</script>
<% include ../partials/footer %>