<% include ../partials/header %>
<div id="overview" class="center">
    <h1><%= currentUser.team %> Tracker Show Page</h1>
  </div>
<div id="stats">
    <% if(currentUser.firstName === tracking.author.firstName) { %> 
        <div classs="col-md-12" style="flex: 1">
          <div class="container">
              <div id="tracked">
                  <p><strong>Name:</strong> <%= tracking.author.firstName %></p>
                  <p><strong>Completed:</strong> <%= tracking.date %></p>
                  <p><strong>Acct #:</strong> <%= tracking.acctNum %></p>
                  <p><strong>On-Boarder:</strong> <%= tracking.onboarder %></p>
                  <p><strong>Package:</strong> <%= tracking.buildPkg %></p>
                  <p><strong>Designer:</strong> <%= tracking.designer %></p>
                  <p><strong>Special Features:</strong> <%= tracking.specialFeatures %></p>
                  <p><strong>CSS Path:</strong> <%= tracking.cssPath %></p>
                  <p><strong>Domain:</strong> <%= tracking.domain %></p>
                  <p><strong>Task:</strong> <%= tracking.taskType %></p>				
                  <p><strong>Notes:</strong> <%= tracking.notes %></p>	
            <div id="trackerBtn">
                <a href="/tracker/<%= tracking._id %>/edit"><button class="btn edit">Edit Task</button></a>
                <form id="delete-form" action="/tracker/<%= tracking._id %>?_method=DELETE" method="POST">
                    <button class="btn delete">Delete</button>
                </form>
                <form id="delete-form" class="trackerForm" action="/tracker/<%= tracking._id %>?_method=PUT" method="POST"> 
                    <button class="btn archive archiveButton" value="Archive" name="tracking[archive]" type="submit">Un-Archive</button>
                </form> 
                <script> 
                $(document).ready(function(){
                    $("#delete-form button.archiveButton").click(function(){
                        $("#delete-form button.archiveButton").each(function(){
                            $(this).val("false");
                        });
                    });
                }); 
            </script>
            </div>  
          </div>
        </div>
        
        <% } %>
</div>
<% include ../partials/footer %>