<!DOCTYPE html>
<html>
    <head>
        <title>WebTeam SuperSite</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <style>
            
        </style>
        
    </head>
    <body>
        <header id="header">
            <div class="container">
                <div class="logo">
                    <% if(!currentUser){ %>
                        <a href="/"><img src="https://i.imgur.com/HyykWbI.png" alt="TeleVox" /></a>
                    <% } else { %>
                        <a href="/dashboard"><img src="https://i.imgur.com/HyykWbI.png" alt="TeleVox" /></a>
                    <% } %>
                </div><!--logo-->
                <ul id="utilityNav">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    <% } else { %>
                        <li><span class="loggedIn">Logged in as: <strong><%= currentUser.firstName + " " + currentUser.lastName %></strong><img src="<%= currentUser.profileImageUrl %>" alt="<%= currentUser.firstName %>" /></span></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div><!--container-->
           
        </header>
        <div class="container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>    
            </div> 
            <% } %>  
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>    
            </div>     
            <% } %>  
        </div>
        <section id="siteBody">
         <div class="container"><!--closing tag in footer file-->
            