<!DOCTYPE html>
<html>
    <head>
        <title>WebTeam SuperSite</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <script src="/scripts/site.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />           <script>
                function defaultImg(){
                    if(profileImageUrl === ""){
                        document.getElementById('userProfile').src = "http://webplus.televoxsites.com/projects/supersite/web.jpg";
                    }
                }
            </script>
            <!-- <script>
                function startTime() {
                    var today = new Date();
                    var h = today.getHours();
                    var m = today.getMinutes();
                    var s = today.getSeconds();
                    m = checkTime(m);
                    s = checkTime(s);
                    document.getElementById('clockDisplay').innerHTML =
                    h + ":" + m + ":" + s;
                    var t = setTimeout(startTime, 500);
                }
                function checkTime(i) {
                    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                    return i;
                }
                onload="startTime()"
            </script> -->
    </head>
    <body>
        <header id="header">
                <div id="adminBar">
                    <div class="container flexbox">
                            <div id="logo">
                                    <% if(!currentUser){ %>
                                        <a href="/"><img class="logo" src="https://i.imgur.com/HyykWbI.png" alt="TeleVox" /></a>
                                    <% } else { %>
                                        <a href="/dashboard"><img class="logo" src="https://i.imgur.com/HyykWbI.png" alt="TeleVox" /></a>
                                    <% } %>
                                </div><!--logo-->
                            <div id="profileBar">
                                <div class="flexbox flexRight">
                                    <div class="profileImage">
                                        <% if(currentUser){ %>
                                            <a href="/edit-profile"><img onerror="this.src='http://webplus.televoxsites.com/projects/supersite/web.jpg'" class="" id="userProfile" src="<%= currentUser.profileImageUrl %>" alt="<%= currentUser.firstName %>" /></a>
                                        <% } %>
                                    </div>
                                    <div class="profileText">
                                        <% if(currentUser){ %>
                                            <p><%= currentUser.firstName + " " + currentUser.lastName %></p>
                                        <% } %>
                                    </div>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <% if(!currentUser){ %>
                                    <div class=""><a href="/login">Login</a></div>
                                    <div class=""><a href="/signup">Sign Up</a></div>
                                <% } else { %>                 
                                    <div class=""><a href="/logout">Logout</a></div>
                                <% } %>
                            </div>

                    </div>
                </div>
                <div id="navBar">
                    <div class="container flexbox">
                        <ul class="flexbox">
                            <li><a href="/dashboard"><span>Dashboard</span></a></li>
                            <li><a href="/tracker"><span>Tracker</span></a></li>
                            <li><a href="/projects-tracker"><span>Projects</span></a></li>
                            <li><a href="/checklist"><span>Checklist</span></a></li>
                            <li><a href="/idea-warehouse"><span>Idea Warehouse</span></a></li>
                            <li><a href="/hats-off"><span>Hats-Off</span></a></li>
                            <li><a href="/blueprint-generator"><span>Blueprint</span></a></li>
                            <li><a href="/presence-url-tracker"><span>Presence URL</span></a></li>
                        </ul>
                    </div>
                    <div class="searchBox">
                            <div id="___gcse_0"><div class="gsc-control-searchbox-only gsc-control-searchbox-only-en" dir="ltr"><form class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8"><table cellspacing="0" cellpadding="0" class="gsc-search-box"><tbody><tr><td class="gsc-input"><div class="gsc-input-box " id="gsc-iw-id1"><table cellspacing="0" cellpadding="0" id="gs_id50" class="gstl_50 " style="width: 100%; padding: 0px;"><tbody><tr><td id="gs_tti50" class="gsib_a"><input autocomplete="off" type="text" size="10" class="gsc-input" name="search" title="search" id="gsc-i-id1" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="en" dir="ltr" spellcheck="false" placeholder="Custom Search" style="width: 100%; padding: 0px; border: none; margin: 0px; height: auto; outline: none; background: url(&quot;http://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png&quot;) left center no-repeat rgb(255, 255, 255); text-indent: 48px;"></td><td class="gsib_b"><div class="gsst_b" id="gs_st50" dir="ltr"><a class="gsst_a" href="javascript:void(0)" style="display: none;"><span class="gscb_a" id="gs_cb50">×</span></a></div></td></tr></tbody></table></div></td><td class="gsc-search-button"><button class="gsc-search-button gsc-search-button-v2"><svg width="13" height="13" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td><td class="gsc-clear-button"><div class="gsc-clear-button" title="clear results">&nbsp;</div></td></tr></tbody></table></form></div></div>
                          </div>
                </div>
                
                
                <!-- <div id="clockDisplay" class="clockStyle"></div> -->
             
            <!-- </div> -->
            <!--container-->
           
        </header>
        <div class="container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>    
            </div> 
            <% } %>  
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>    
            </div>     
            <% } %>  
        </div>
        <section id="siteBody">
         <div class="container"><!--closing tag in footer file-->