<% include ../partials/header %>
<style>
  h1 {text-transform: capitalize;}
  .taskTable {
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.taskTable .header {
    font-weight: 400;
    padding: 5px;
    flex: 100%;
}
.taskTable {
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
</style>
<div id="overview" class="center">
  <h1>Edit Project
    <%= project.name %>
  </h1>
</div>
<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form onsubmit="countTaskTypes();" class="form profileForm" action="/projects/<%= project._id %>?_method=PUT"
          method="POST">
          <section class="header flexbox flexJustify">
            <h2>Project Editor</h2>
          </section>
          <div class="wrapper">
            <section class="flexbox flexJustify">
              <label for="project[name]"><span style="margin: 0 0 5px; display: block;">Project Name:</span>
                <input type="text" name="project[name]" value="<%= project.name %>">
              </label>
              <label for="project[requestedBy]"><span style="margin: 0 0 5px; display: block;">Requested By:</span>
                <input type="text" name="project[requestedBy]" value="<%= project.requestedBy %>">
              </label>
              <label for="project[deadline]"><span>Deadline:</span>
                <input type="date" name="project[deadline]" value="<%= moment(project.deadline).format('YYYY-MM-DD') %>">
              </label>
              <label for="project[delivery]"><span>Next Delivery:</span>
                <input type="date" name="project[delivery]" value="<%= moment(project.delivery).format('YYYY-MM-DD') %>">
              </label>
              <label for="status"><span>Project Status:</span>
                <select name="project[status]" id="status">
                  <option value="<%= project.status %>">
                    <%= project.status %>
                  </option>
                  <% if(project.status === "Ready for Work") { %>
                  <option value="In Progress">In Progress</option>
                  <option value="Awaiting Review">Awaiting Review</option>
                  <option value="On Hold">On Hold</option>
                  <option value="Completed">Completed</option>
                  <% } %>
                  <% if(project.status === "In Progress") { %>
                  <option value="Ready for Work">Ready for Work</option>
                  <option value="Awaiting Review">Awaiting Review</option>
                  <option value="On Hold">On Hold</option>
                  <option value="Completed">Completed</option>
                  <% } %>
                  <% if(project.status === "Awaiting Review") { %>
                  <option value="Ready for Work">Ready for Work</option>
                  <option value="In Progress">In Progress</option>
                  <option value="On Hold">On Hold</option>
                  <option value="Completed">Completed</option>
                  <% } %>
                  <% if(project.status === "On Hold") { %>
                  <option value="Ready for Work">Ready for Work</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Awaiting Review">Awaiting Review</option>
                  <option value="Completed">Completed</option>
                  <% } %>
                  <% if(project.status === "Completed") { %>
                  <option value="Ready for Work">Ready for Work</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Awaiting Review">Awaiting Review</option>
                  <option value="On Hold">On Hold</option>
                  <% } %>
                </select>
              </label>
            </section>
            <section class="flexbox flexJustify">
              <label for="project[description]"><span>Project Description:</span>
                <textarea type="text" rows="6" name="project[description]"><%- project.description %></textarea>
              </label>
            </section>
            <div class="selectBox flexbox flexJustify alignCenter">
              <section style="width: 100%;">
                <div id="item">
                  <div class="itemTable">
                    <div class="header flexbox">
                      <div class="cell type">Action Items</div>
                    </div>
                    <% if(project.actionItem.length === 0){ %>
                    <div class="item flexbox row" style="padding: 5px 10px">
                      <label name="actionItem">
                        <input class="actionItem" type="text" placeholder="Action Item" />
                      </label>
                    </div>
                    <% } %>
                    <% for (i=0; i < project.actionItem.length; i++) { %>
                    <div class="item flexbox row" style="padding: 5px 10px">
                      <label name="actionItem">
                        <input class="actionItem" type="text" value="<%= project.actionItem[i].item %>" />
                      </label>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="itemButtons flexbox flexRight">
                  <button type="button" id="addItem">Add <i class="fas fa-plus"></i></button>
                  <button type="button" id="removeItem">Remove <i class="fas fa-minus"></i></button>
                </div>
              </section>
              <section style="width: 100%;">
                <div id="task">
                  <div class="taskTable">
                    <div class="header flexbox">
                      <div class="cell type">Team Members</div>
                    </div>
                    <% for (i=0; i < project.owners.length; i++) { %>
                    <div class="task flexbox row">
                      <div class="cell type">
                        <div class="customSelect">
                          <select class="owners">
                            <option selected value="<%= project.owners[i].firstName %>">
                              <%= project.owners[i].firstName %>
                            </option>
                            <% users.forEach(function(user){ %>
                            <option value="<%= user.firstName %>">
                              <%= user.firstName %>
                            </option>
                            <% }); %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="taskButtons flexbox flexRight">
                  <button type="button" id="addTask">Add <i class="fas fa-plus"></i></button>
                  <button type="button" id="removeTask">Remove <i class="fas fa-minus"></i></button>
                </div>

            </div>
            <button type="submit">Update Project!</button>
          </div>
          </section>

      </div>


    </div>

    </form>
  </div>
</div>
</div>
</div>
<script>
  // Counts task types on form submit
  function countTaskTypes() {
    var count = 0;
    $("div.task").each(function () {
      $(this).find(".owners").attr("name", "project[owners][" + count + "][firstName]");
      count++;
    });
    $("div.item").each(function () {
      $(this).find(".actionItem").attr("name", "project[actionItem][" + count + "][item]");
      count++;
    });
  }

  $(document).ready(function () {
    var count = 0;
    $("div.item:nth-child(2) label input").attr("name", "project[actionItem][" + count + "][item]");

    $("#addItem").click(function () {
      count++;
      var newItemInput = $(".item:last-of-type");
      newItemInput.clone().find("input:text").val("").end().appendTo(".itemTable");
      $("div.item:last-of-type input").attr("name", "project[actionItem][" + count + "][item]");
    });

    $("#removeItem").click(function () {
      var itemCount = $("div.item").length;
      if (itemCount === 1) {
        alert("You cannot remove the only item");
      } else {
        var newItemInput = $(".item:last-of-type");
        newItemInput.remove();
      };
    });
  });
</script>

<script>
  $(document).ready(function () {
    var count = 0;
    $("div.task:first-of-type select.owner").attr("name", "project[owners][" + count + "][firstName]");

    $("#addTask").click(function () {
      count++;
      var newTaskInput = $(".task:last-of-type");
      newTaskInput.clone().appendTo(".taskTable");
      $("div.task:last-of-type select.owner").attr("name", "project[owners][" + count + "][firstName]");
    });

    $("#removeTask").click(function () {
      var taskCount = $("div.task").length;
      if (taskCount === 1) {
        alert("You cannot remove the only task");
      } else {
        var newTaskInput = $(".task:last-of-type");
        newTaskInput.remove();
      };
    });
  });
</script>
<% include ../partials/footer %>