<% include ../partials/header %>
<style>
    h1 {text-transform: capitalize;}
</style>
<div id="overview" class="center">
    <h1>Edit Project <%= project.name %></h1>
</div>
<div class="container" style="margin: 20px auto;">
    <div class="row">
        <div class="col-md-12">
            <form class="form profileForm" action="/projects/<%= project._id %>?_method=PUT" method="POST">
                <section class="header flexbox flexJustify">
                    <h2>Project Editor</h2>
                </section>
                <div class="wrapper">
                        <section class="flexbox flexJustify">
                            <label for="comment[text]"><span>Project Name:</span>
                                <input type="text" name="project[name]" value="<%= project.name %>">
                            </label>
                        </section>
                        <section class="flexbox flexJustify">
                                <label for="comment[text]"><span>Project Description:</span>
                                    <textarea type="text" name="project[description]"><%= project.description %></textarea>
                                </label>
                        </section>
                        <div class="selectBox flexbox flexJustify alignCenter">
                                  <label class="flexItem" for="project[status]">
                                    <div class="flexbox alignCenter"><span>Project Status:</span>
                                      <div class="customSelect">
                                      <select name="project[status]" id="status">
                                            <option value="<%= project.status %>"><%= project.status %></option>
                                            <% if(project.status === "Ready for Work") { %>
                                                <option value="In Progress">In Progress</option>    
                                                <option value="Awaiting Review">Awaiting Review</option>
                                                <option value="On Hold">On Hold</option>
                                                <option value="Completed">Completed</option>
                                            <% } %>
                                            <% if(project.status === "In Progress") { %>
                                                <option value="Ready for Work">Ready for Work</option>
                                                <option value="Awaiting Review">Awaiting Review</option>
                                                <option value="On Hold">On Hold</option>
                                                <option value="Completed">Completed</option>
                                            <% } %>
                                            <% if(project.status === "Awaiting Review") { %>
                                                <option value="Ready for Work">Ready for Work</option>
                                                <option value="In Progress">In Progress</option>    
                                                <option value="On Hold">On Hold</option>
                                                <option value="Completed">Completed</option>
                                            <% } %>
                                            <% if(project.status === "On Hold") { %>
                                                <option value="Ready for Work">Ready for Work</option>
                                                <option value="In Progress">In Progress</option>    
                                                <option value="Awaiting Review">Awaiting Review</option>
                                                <option value="Completed">Completed</option>
                                            <% } %>
                                            <% if(project.status === "Completed") { %>
                                                <option value="Ready for Work">Ready for Work</option>
                                                <option value="In Progress">In Progress</option>    
                                                <option value="Awaiting Review">Awaiting Review</option>
                                                <option value="On Hold">On Hold</option>
                                            <% } %>
                                      </select>
                                      </div>
                                      </div>
                                </label>
                                </div>
                                <button type="submit">Update Project!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>