<% include ../partials/header %>
<style>
  .project > *, .employee > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px auto;
  }
  .projectsWrapper, .teamMembers {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
  .project,
  .employee {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px;
    padding: 0 0 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #dedede;
    border-radius: 5px;
  }
  .project .projectStatus {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .project .projectStatus::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
  }
  .project .projectStatus span.icon i {
    display: inline-block;
    color: #fff;
    font-size: 2.5em;
    text-transform: none;
  }
  .project .projectStatus span {
    display: block;
    color: #fff;
    font-weight: 500;
    margin: 8px auto;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .ownerName span:not(:last-child):after {
    content: ", ";
  }
  .project .caption {
    padding: 15px 15px 5px;
  }
  .project .ownerList {
    padding: 5px 15px 15px;
    color: #545454;
}
.project .ownerList .ownerTitle {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .9em;
    margin-bottom: 2px;
}
.project .ownerList span {
    font-weight: 400;
}
</style>

<div id="overview" class="center">
  <h1>Welcome to the Project Manager!</h1>
  <p>Create new projects for your team</p>
  <div>
    <a href="/projects/new" id="myBtn"
      >Add New Project<i class="fas fa-plus"></i
    ></a>
      </div>
</div>
<div id="dashboard">
<div class="container">
  <div class="projectsWrapper flexbox">
    <% projects.forEach(function(project){%>
      <div class="project flexbox">
        <div class="projectStatus ready">
          <span class="icon">
              <%= project.status %>
          </span>
          <span class="projectStatus"><%= project.status %></span>
        </div>
        <div class="caption">
          <h4><%= project.name %></h4>
        </div>
        <div class="ownerList">
          <span class="ownerTitle">Owners:</span>
            <span class="ownerName">
             <% for(let i = 0; i < project.owners.length; i++) { %>
            <span> <%= project.owners[i].firstName %></span> <% } %>
          </div>
        </span>
        <a href="/projects/<%= project._id %>" class="myBtn">More Info</a>
      </div>
    <% }); %>
  </div>
  <script>
    $(".icon:contains('Completed')").html(
      "<i class='fas fa-check'></i>"
    );
    $(".icon:contains('Ready for Work')").html(
      "<i class='far fa-circle'></i>"
    );
    $(".icon:contains('In Progress')").html(
      "<i class='fas fa-redo'></i>"
    );
    $(".icon:contains('On Hold')").html(
      "<i class='far fa-hand-paper'></i>"
    );
    $(".icon:contains('Awaiting Review')").html(
      "<i class='far fa-hourglass'></i>"
    );
    $(".projectStatus:contains('Ready for Work')").css(
      "background-color",
      "#ba39c4"
    );
    $(".projectStatus:contains('In Progress')").css(
      "background-color",
      "#7b2bda"
    );
    $(".projectStatus:contains('Awaiting Review')").css(
      "background-color",
      "#006bc9"
    );
    $(".projectStatus:contains('Completed')").css(
      "background-color",
      "#00b0b8"
    );
  </script>
</div>
</div>
<% include ../partials/footer %>
