<% include ../partials/header %>

<div id="overview" class="center">
    <h1>
        <%= project.name %> Project</h1>
</div>
<% const now = moment(project.completedDate); %>
<% const end = moment(project.created_at); %>
<% const duration = moment.duration(now.diff(end));%>
<% const days = duration.asDays(); %>

<div id="dashboard">
    <div class="container flexbox" style="align-items: flex-start;">
        <div class="quickView projectQuickView">
            <div class="empImg">
                <img src="/images/Projectweb.png" alt="Strom Centre">
            </div>
            <div class="quickInfo">
                <div class="detTitle">
                    <h6>Status:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= project.status %>
                    </p>
                </div>
                <div class="detTitle">
                    <h6>Created Date:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= moment(project.created_at).format("MMM DD, YYYY hh:mm a") %>
                    </p>
                </div>
                <% if(project.isCompleted === true) { %>
                <div class="detTitle">
                    <h6>Completed Date:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= moment(project.completedDate).format("MMM DD, YYYY hh:mm a") %>
                    </p>
                </div>
                <div class="detTitle">
                    <h6>Total Completion Time:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= Math.round(days) %> Days </p>
                </div>
                <% } %>

                <% if (project.history.length > 0){ %>
                <% var indexLength = project.history.length %>
                <div class="detTitle">
                    <h6>Last Modified By:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= project.history[indexLength - 1].historyName %>
                    </p>
                </div>
                <div class="detTitle">
                    <h6>Last Modified Time:</h6>
                </div>
                <div class="details">
                    <p>
                        <%= moment(project.history[indexLength - 1].time).format("MMM DD, YYYY hh:mm a") %>
                    </p>
                </div>
                <% } %>
            </div>
        </div>
        <div class="summary">
            <h2>
                <%=project.name%>
            </h2>
            <p>
                <%= project.description %>
            </p>
            <p><em>Created By: <strong>
                        <%= project.author.firstName %></strong>
                    <span style="float: right;"><strong>Requested By:</strong>
                        <%= project.requestedBy %></span>
            </p>
            <div class="ownerList"><strong>Owners:</strong>
                <div class="ownerName">
                    <% for(let i = 0; i < project.owners.length; i++) { %>
                    <span>
                        <%= project.owners[i].firstName %></span>
                    <% } %>
                </div>
                <div class="dlDate" style="margin: 10px 0;"><strong>Next Delivery Date:</strong> <span>
                        <%= moment(project.delivery).format("MMM DD, YYYY") %></span></div>
            </div>
            <div class="prjDeadline" style="margin: 10px 0;"><strong>Deadline:</strong> <span>
                    <%= moment(project.deadline).format("MMM DD, YYYY") %></span></div>

            <div id="trackerBtn" style="margin: 20px 0 50px;">
                <a class="edit" href="/projects/<%= project._id %>/edit">Edit</a>

                <% if(currentUser && project.author.id.equals(currentUser._id) || currentUser.isAdmin || currentUser.isMaster ){ %>
                <form id="delete-form" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                    <button class="delete">Delete</button>
                </form>
                <% } %>
                <% if(project.isCompleted === !true) { %>
                <form id="delete-form" class="trackerForm" action="/projects/<%= project._id %>?_method=PUT" method="POST">
                    <div style="display: none">
                        <input name="project[status]" id="status" value="Completed" />
                    </div>
                    <button class="archive archiveButton" value="Completed" name="project[isCompleted]" type="submit">Completed</button>
                </form>
                <% } %>
                <% if(project.isCompleted === true) { %>
                <form id="archive-form" class="trackerForm" action="/projects/<%= project._id %>?_method=PUT" method="POST">
                    <div style="display: none">
                        <input name="project[status]" id="status" value="In Progress" />
                    </div>
                    <button class="archive archiveButton" value="Completed" name="project[isCompleted]" type="submit">Re-Open</button>
                </form>
                <% } %>
                <a class="comment" href="/projects/<%= project._id %>/projectComments/new">Leave a
                    Comment!</a>
            </div>
            <hr>
            <% project.comments.forEach(function(comment){%>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        <%= comment.author.firstName %> - </strong> <em>
                        <%= comment.author.email %></em>
                    <span class="pull-right"><strong>
                            <%= moment(comment.time).format("MMM DD, YYYY - hh:mm a") %></strong></span>
                    <p>
                        <%= comment.text %>
                    </p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser.isAdmin || currentUser.isMaster){ %>
                    <div id="trackerBtn">
                        <a class="edit" href="/projects/<%= project._id %>/projectComments/<%= comment._id %>/edit">Edit
                        </a>
                        <form id="delete-form" action="/projects/<%= project._id %>/projectComments/<%= comment._id %>?_method=DELETE"
                            method="POST">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>

            </div>
            <hr />
            <% }) %>
        </div>
    </div>




    <script>
        $(document).ready(function () {
            $("#delete-form button.archiveButton").click(function () {
                $("#delete-form button.archiveButton").each(function () {
                    $(this).val("true");
                });
            });
            $("#archive-form button.archiveButton").click(function () {
                $("#archive-form button.archiveButton").each(function () {
                    $(this).val("false");
                });
            });
        });

    </script>
    <% include ../partials/footer %>